
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582807064783356889.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-582807064783356889.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-582807064783356889.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582807064783356889.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-582807064783356889.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582807064783356889.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582807064783356889.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582807064783356889.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-582807064783356889.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582807064783356889.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582807064783356889.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582807064783356889.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582807064783356889.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-582807064783356889.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582807064783356889.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-582807064783356889.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582807064783356889.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582807064783356889.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-582807064783356889.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582807064783356889.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-582807064783356889.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582807064783356889.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582807064783356889.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-582807064783356889.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582807064783356889.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-582807064783356889.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582807064783356889.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-582807064783356889.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582807064783356889.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582807064783356889.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582807064783356889.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-582807064783356889.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582807064783356889.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582807064783356889.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582807064783356889.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582807064783356889.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582807064783356889.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582807064783356889.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582807064783356889.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582807064783356889.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582807064783356889.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582807064783356889.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582807064783356889.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582807064783356889.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582807064783356889.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582807064783356889.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-582807064783356889.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582807064783356889.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582807064783356889.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582807064783356889.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582807064783356889.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582807064783356889.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582807064783356889.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582807064783356889.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582807064783356889.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582807064783356889.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582807064783356889.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582807064783356889.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582807064783356889.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582807064783356889.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-582807064783356889.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582807064783356889.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582807064783356889.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-582807064783356889.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582807064783356889.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582807064783356889.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-582807064783356889.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582807064783356889.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582807064783356889.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582807064783356889.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582807064783356889.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582807064783356889.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-582807064783356889.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582807064783356889.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582807064783356889.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582807064783356889.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582807064783356889.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582807064783356889.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582807064783356889.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-582807064783356889.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582807064783356889.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582807064783356889 .gp-relative{position:relative}.gps-582807064783356889 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582807064783356889 .gp-mb-0{margin-bottom:0}.gps-582807064783356889 .gp-inline-block{display:inline-block}.gps-582807064783356889 .gp-flex{display:flex}.gps-582807064783356889 .gp-inline-flex{display:inline-flex}.gps-582807064783356889 .gp-grid{display:grid}.gps-582807064783356889 .gp-contents{display:contents}.gps-582807064783356889 .\!gp-hidden{display:none!important}.gps-582807064783356889 .gp-hidden{display:none}.gps-582807064783356889 .gp-h-auto{height:auto}.gps-582807064783356889 .gp-h-full{height:100%}.gps-582807064783356889 .gp-w-full{width:100%}.gps-582807064783356889 .gp-max-w-full{max-width:100%}.gps-582807064783356889 .gp-flex-none{flex:none}.gps-582807064783356889 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582807064783356889 .gp-flex-col{flex-direction:column}.gps-582807064783356889 .gp-items-center{align-items:center}.gps-582807064783356889 .gp-justify-center{justify-content:center}.gps-582807064783356889 .gp-overflow-hidden{overflow:hidden}.gps-582807064783356889 .gp-break-words{overflow-wrap:break-word}.gps-582807064783356889 .gp-text-center{text-align:center}.gps-582807064783356889 .gp-no-underline{text-decoration-line:none}.gps-582807064783356889 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582807064783356889 .gp-duration-200{transition-duration:.2s}.gps-582807064783356889 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582807064783356889 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-582807064783356889 .hover\:gp-text-g-bg-3:hover{color:var(--g-c-bg-3)}}.gps-582807064783356889 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-582807064783356889 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-582807064783356889 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-582807064783356889 .tablet\:\!gp-hidden{display:none!important}.gps-582807064783356889 .tablet\:gp-hidden{display:none}.gps-582807064783356889 .tablet\:gp-h-auto{height:auto}.gps-582807064783356889 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-582807064783356889 .mobile\:\!gp-hidden{display:none!important}.gps-582807064783356889 .mobile\:gp-hidden{display:none}.gps-582807064783356889 .mobile\:gp-h-auto{height:auto}.gps-582807064783356889 .mobile\:gp-flex-none{flex:none}}.gps-582807064783356889 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-582807064783356889 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbYWJUtwZ5"}' data-id="gbYWJUtwZ5" id="gbYWJUtwZ5" data-same-height-subgrid-container class="gbYWJUtwZ5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:56px;--pb-mobile:var(--g-s-3xl);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gI1dhZi08N gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1tRqE4NKw"}' data-id="g1tRqE4NKw" id="g1tRqE4NKw" data-same-height-subgrid-container class="g1tRqE4NKw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--pl:0px;--pr:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gL2hscq8eK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYGkjVRsuA"
        class="gYGkjVRsuA"
        style="--ta:center;--ta-mobile:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909903787"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:left;--c:#545454;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYGkjVRsuA_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFHE_AeNpE"
        class="gFHE_AeNpE"
        style="--ta:center;--ta-mobile:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909903787"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFHE_AeNpE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNr-Nf5M0B"}' data-id="gNr-Nf5M0B" id="gNr-Nf5M0B" data-same-height-subgrid-container class="gNr-Nf5M0B gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:60px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbNT8BmxjO gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gpu5woZDsy"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1756909903792 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gpu5woZDsy"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/9b9f759d-1643-49f0-ba6c-7285aec811cb/-/format/auto/-/preview/640x640/-/quality/lighter/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQwLTY0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0idXJsKCNnLTY0MC02NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDAiIHRvPSI2NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/9b9f759d-1643-49f0-ba6c-7285aec811cb/-/format/auto/-/preview/640x640/-/quality/lighter/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQwLTY0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0idXJsKCNnLTY0MC02NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDAiIHRvPSI2NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/9b9f759d-1643-49f0-ba6c-7285aec811cb/-/format/auto/-/preview/640x640/-/quality/lighter/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQwLTY0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0idXJsKCNnLTY0MC02NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDAiIHRvPSI2NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/9b9f759d-1643-49f0-ba6c-7285aec811cb/-/format/auto/-/preview/640x640/-/quality/lighter/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gs7pUVaoTK"
        class="gs7pUVaoTK"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909903793"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#545454;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggs7pUVaoTK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--ta:center" >
        <style>[data-id="giGirVhHV4"].gp-button-base::before, [data-id="giGirVhHV4-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      
  
    }
  
      
  [data-id="giGirVhHV4"]:hover::before, [data-id="giGirVhHV4-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="giGirVhHV4" dataId="giGirVhHV4" data-state="idle" aria-label="Read More"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:51px;--pr:51px;--pt:8px;--pb:8px;--pl-tablet:51px;--pr-tablet:51px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:56px;--pr-mobile:56px;--pt-mobile:10px;--pb-mobile:10px;--bblr:14px;--bbrr:14px;--btlr:14px;--btrr:14px;--hvr-bblr:14px;--hvr-bbrr:14px;--hvr-btlr:14px;--hvr-btrr:14px;--bgi:;--hvr-bgi:;--hvr-bg:#FFA318;--bg:#FFFAF1;--hvr-c:var(--g-c-bg-3);--c:#FFA318;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="giGirVhHV4 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 hover:gp-text-g-bg-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggiGirVhHV4_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gtYW5m9k4f gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gm3GC9bA19"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1756909903797 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gm3GC9bA19"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/23c35cd0-1d0b-4376-97b6-8ba6392b73c8/-/format/auto/-/preview/640x640/-/quality/lighter/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQwLTY0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0idXJsKCNnLTY0MC02NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDAiIHRvPSI2NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/23c35cd0-1d0b-4376-97b6-8ba6392b73c8/-/format/auto/-/preview/640x640/-/quality/lighter/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQwLTY0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0idXJsKCNnLTY0MC02NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDAiIHRvPSI2NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/23c35cd0-1d0b-4376-97b6-8ba6392b73c8/-/format/auto/-/preview/640x640/-/quality/lighter/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQwLTY0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0idXJsKCNnLTY0MC02NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDAiIHRvPSI2NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/23c35cd0-1d0b-4376-97b6-8ba6392b73c8/-/format/auto/-/preview/640x640/-/quality/lighter/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLCQFeM_zU"
        class="gLCQFeM_zU"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909903811"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLCQFeM_zU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--ta:center" >
        <style>[data-id="ggZrWmXBtY"].gp-button-base::before, [data-id="ggZrWmXBtY-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      
  
    }
  
      
  [data-id="ggZrWmXBtY"]:hover::before, [data-id="ggZrWmXBtY-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="ggZrWmXBtY" dataId="ggZrWmXBtY" data-state="idle" aria-label="Read More"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:51px;--pr:51px;--pt:8px;--pb:8px;--pl-tablet:51px;--pr-tablet:51px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:56px;--pr-mobile:56px;--pt-mobile:10px;--pb-mobile:10px;--bblr:14px;--bbrr:14px;--btlr:14px;--btrr:14px;--hvr-bblr:14px;--hvr-bbrr:14px;--hvr-btlr:14px;--hvr-btrr:14px;--bgi:;--hvr-bgi:;--hvr-bg:#FFA318;--bg:#FFFAF1;--hvr-c:#FFFFFF;--c:#FFA318;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="ggZrWmXBtY gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gggZrWmXBtY_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gp4ejeSb0s gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gdpwXpco1o"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1756909903815 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gdpwXpco1o"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/8764ebb8-27ea-465b-853f-ff5d16a335bb/-/format/auto/-/preview/640x640/-/quality/lighter/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQwLTY0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0idXJsKCNnLTY0MC02NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDAiIHRvPSI2NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/8764ebb8-27ea-465b-853f-ff5d16a335bb/-/format/auto/-/preview/640x640/-/quality/lighter/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQwLTY0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0idXJsKCNnLTY0MC02NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDAiIHRvPSI2NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/8764ebb8-27ea-465b-853f-ff5d16a335bb/-/format/auto/-/preview/640x640/-/quality/lighter/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQwLTY0MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQwIiBoZWlnaHQ9IjY0MCIgZmlsbD0idXJsKCNnLTY0MC02NDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDAiIHRvPSI2NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/8764ebb8-27ea-465b-853f-ff5d16a335bb/-/format/auto/-/preview/640x640/-/quality/lighter/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_z3rjAhRI"
        class="g_z3rjAhRI"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909903816"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_z3rjAhRI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:center" >
        <style>[data-id="gevam7LhXH"].gp-button-base::before, [data-id="gevam7LhXH-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      
  
    }
  
      
  [data-id="gevam7LhXH"]:hover::before, [data-id="gevam7LhXH-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gevam7LhXH" dataId="gevam7LhXH" data-state="idle" aria-label="Read More"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:51px;--pr:51px;--pt:8px;--pb:8px;--pl-tablet:51px;--pr-tablet:51px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:56px;--pr-mobile:56px;--pt-mobile:10px;--pb-mobile:10px;--bblr:14px;--bbrr:14px;--btlr:14px;--btrr:14px;--hvr-bblr:14px;--hvr-bbrr:14px;--hvr-btlr:14px;--hvr-btrr:14px;--bgi:;--hvr-bgi:;--hvr-bg:#FFA318;--bg:#FFFAF1;--hvr-c:#FFFFFF;--c:#FFA318;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gevam7LhXH gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggevam7LhXH_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-582807064783356889 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582806957543392217&sectionId=582807064783356889)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYGkjVRsuA_text","label":"ggYGkjVRsuA_text","default":"<p>There's More To Explore</p>"},{"type":"html","id":"ggFHE_AeNpE_text","label":"ggFHE_AeNpE_text","default":"<p>Visit our blog for recipes, advices, how-tos and the latest Gem’Yummy news.</p>"},{"type":"html","id":"ggs7pUVaoTK_text","label":"ggs7pUVaoTK_text","default":"<p>10 foods to help support a healthy</p><p>immune system</p>"},{"type":"html","id":"ggiGirVhHV4_label","label":"ggiGirVhHV4_label","default":"Read More"},{"type":"html","id":"ggLCQFeM_zU_text","label":"ggLCQFeM_zU_text","default":"<p>Healthy after-school snacks for hungry little tummies</p>"},{"type":"html","id":"gggZrWmXBtY_label","label":"gggZrWmXBtY_label","default":"Read More"},{"type":"html","id":"gg_z3rjAhRI_text","label":"gg_z3rjAhRI_text","default":"<p>10 of the best picnic food ideas</p><p>for toddler</p>"},{"type":"html","id":"ggevam7LhXH_label","label":"ggevam7LhXH_label","default":"Read More"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  