
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583114608098018136.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583114608098018136.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-583114608098018136.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583114608098018136.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583114608098018136.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583114608098018136.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-583114608098018136.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583114608098018136.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583114608098018136.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583114608098018136.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583114608098018136.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-583114608098018136.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583114608098018136.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-583114608098018136.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583114608098018136.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583114608098018136.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-583114608098018136.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583114608098018136.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-583114608098018136.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-583114608098018136.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-583114608098018136.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583114608098018136.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583114608098018136.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-583114608098018136.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583114608098018136.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-583114608098018136.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583114608098018136.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-583114608098018136.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583114608098018136.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-583114608098018136.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583114608098018136.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583114608098018136.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583114608098018136.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583114608098018136.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583114608098018136.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583114608098018136.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583114608098018136.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583114608098018136.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583114608098018136.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583114608098018136.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583114608098018136.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583114608098018136.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583114608098018136.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583114608098018136.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583114608098018136.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-583114608098018136.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583114608098018136.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583114608098018136.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583114608098018136.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583114608098018136.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583114608098018136.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583114608098018136.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583114608098018136.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583114608098018136.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583114608098018136.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-583114608098018136.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-583114608098018136.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583114608098018136.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583114608098018136.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583114608098018136.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-583114608098018136.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583114608098018136.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-583114608098018136.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583114608098018136.gps.gpsil [style*="--weight-tablet:"]{font-weight:var(--weight-tablet)}.gps-583114608098018136.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-583114608098018136.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583114608098018136.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583114608098018136.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583114608098018136.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583114608098018136.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583114608098018136.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583114608098018136.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-583114608098018136.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583114608098018136.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583114608098018136.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-583114608098018136.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583114608098018136.gps.gpsil [style*="--weight-mobile:"]{font-weight:var(--weight-mobile)}.gps-583114608098018136.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583114608098018136.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583114608098018136.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583114608098018136.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583114608098018136.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-583114608098018136.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583114608098018136.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583114608098018136.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583114608098018136.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583114608098018136.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-583114608098018136.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583114608098018136.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583114608098018136 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-583114608098018136 .gp-relative{position:relative}.gps-583114608098018136 .gp-z-1{z-index:1}.gps-583114608098018136 .\!gp-m-0{margin:0!important}.gps-583114608098018136 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583114608098018136 .gp-mb-0{margin-bottom:0}.gps-583114608098018136 .gp-flex{display:flex}.gps-583114608098018136 .gp-inline-flex{display:inline-flex}.gps-583114608098018136 .gp-grid{display:grid}.gps-583114608098018136 .\!gp-hidden{display:none!important}.gps-583114608098018136 .gp-hidden{display:none}.gps-583114608098018136 .gp-h-full{height:100%}.gps-583114608098018136 .gp-max-w-full{max-width:100%}.gps-583114608098018136 .gp-shrink-0{flex-shrink:0}.gps-583114608098018136 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583114608098018136 .gp-flex-col{flex-direction:column}.gps-583114608098018136 .gp-items-center{align-items:center}.gps-583114608098018136 .gp-justify-center{justify-content:center}.gps-583114608098018136 .gp-overflow-hidden{overflow:hidden}.gps-583114608098018136 .gp-break-words{overflow-wrap:break-word}.gps-583114608098018136 .gp-text-center{text-align:center}.gps-583114608098018136 .gp-no-underline{text-decoration-line:none}.gps-583114608098018136 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583114608098018136 .gp-duration-200{transition-duration:.2s}.gps-583114608098018136 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583114608098018136 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-583114608098018136 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-583114608098018136 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-583114608098018136 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-583114608098018136 .tablet\:\!gp-hidden{display:none!important}.gps-583114608098018136 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-583114608098018136 .mobile\:\!gp-hidden{display:none!important}.gps-583114608098018136 .mobile\:gp-hidden{display:none}}.gps-583114608098018136 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-583114608098018136 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-583114608098018136 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-583114608098018136 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-583114608098018136 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-583114608098018136 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gYmrCKRF40"}' data-id="gYmrCKRF40" id="gYmrCKRF40" data-same-height-subgrid-container class="gYmrCKRF40 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#EEEEEE;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:60px;--pl:15px;--pb:60px;--pr:15px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUOU5hB9gU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVQkFmxvkt"}' data-id="gVQkFmxvkt" id="gVQkFmxvkt" data-same-height-subgrid-container class="gVQkFmxvkt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-l);--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdNRAlsARe gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga4TuzTMwW"
        class="ga4TuzTMwW"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb-tablet:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757093184204"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga4TuzTMwW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g3OWRwsI7w gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2wVSUjrQd"}' data-id="g2wVSUjrQd" id="g2wVSUjrQd" data-same-height-subgrid-container class="g2wVSUjrQd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gGokJkckpv gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="g_k6PdOcRi"].gp-button-base::before, [data-id="g_k6PdOcRi-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g_k6PdOcRi"]:hover::before, [data-id="g_k6PdOcRi-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="g_k6PdOcRi" dataId="g_k6PdOcRi" data-state="idle" aria-label="Refund policy"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:transparent;--bg:transparent;--size:19px;--lh:130%;--fs:normal;--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%"
          class="g_k6PdOcRi gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  undefined"
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--size:19px;--lh:130%;--fs:normal;--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.90431 1.02931C2.93334 1.00021 2.96782 0.977117 3.00579 0.961363C3.04375 0.945609 3.08445 0.9375 3.12556 0.9375C3.16666 0.9375 3.20736 0.945609 3.24533 0.961363C3.2833 0.977117 3.31778 1.00021 3.34681 1.02931L7.09681 4.77931C7.12591 4.80834 7.149 4.84282 7.16475 4.88079C7.18051 4.91875 7.18862 4.95945 7.18862 5.00056C7.18862 5.04166 7.18051 5.08236 7.16475 5.12033C7.149 5.1583 7.12591 5.19278 7.09681 5.22181L3.34681 8.97181C3.28813 9.03049 3.20854 9.06345 3.12556 9.06345C3.04257 9.06345 2.96299 9.03049 2.90431 8.97181C2.84563 8.91313 2.81266 8.83354 2.81266 8.75056C2.81266 8.66757 2.84563 8.58799 2.90431 8.52931L6.43368 5.00056L2.90431 1.47181C2.87521 1.44278 2.85212 1.4083 2.83636 1.37033C2.82061 1.33236 2.8125 1.29166 2.8125 1.25056C2.8125 1.20945 2.82061 1.16875 2.83636 1.13079C2.85212 1.09282 2.87521 1.05834 2.90431 1.02931Z" fill="#575757"/> </svg>
    </span>
  
          
    <span
      data-gp-text
      style="--size:19px;--lh:130%;--fs:normal;--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg_k6PdOcRi_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gAB1GoNQfa gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--ta:left" >
        <style>[data-id="gGI1AYgNaP"].gp-button-base::before, [data-id="gGI1AYgNaP-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gGI1AYgNaP"]:hover::before, [data-id="gGI1AYgNaP-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gGI1AYgNaP" dataId="gGI1AYgNaP" data-state="idle" aria-label="Terms of service"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:transparent;--bg:transparent;--size:19px;--lh:130%;--fs:normal;--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%"
          class="gGI1AYgNaP gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  undefined"
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--size:19px;--lh:130%;--fs:normal;--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.90431 1.02931C2.93334 1.00021 2.96782 0.977117 3.00579 0.961363C3.04375 0.945609 3.08445 0.9375 3.12556 0.9375C3.16666 0.9375 3.20736 0.945609 3.24533 0.961363C3.2833 0.977117 3.31778 1.00021 3.34681 1.02931L7.09681 4.77931C7.12591 4.80834 7.149 4.84282 7.16475 4.88079C7.18051 4.91875 7.18862 4.95945 7.18862 5.00056C7.18862 5.04166 7.18051 5.08236 7.16475 5.12033C7.149 5.1583 7.12591 5.19278 7.09681 5.22181L3.34681 8.97181C3.28813 9.03049 3.20854 9.06345 3.12556 9.06345C3.04257 9.06345 2.96299 9.03049 2.90431 8.97181C2.84563 8.91313 2.81266 8.83354 2.81266 8.75056C2.81266 8.66757 2.84563 8.58799 2.90431 8.52931L6.43368 5.00056L2.90431 1.47181C2.87521 1.44278 2.85212 1.4083 2.83636 1.37033C2.82061 1.33236 2.8125 1.29166 2.8125 1.25056C2.8125 1.20945 2.82061 1.16875 2.83636 1.13079C2.85212 1.09282 2.87521 1.05834 2.90431 1.02931Z" fill="#575757"/> </svg>
    </span>
  
          
    <span
      data-gp-text
      style="--size:19px;--lh:130%;--fs:normal;--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggGI1AYgNaP_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g1-JmbcS-3 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="gtIK0K3slG"].gp-button-base::before, [data-id="gtIK0K3slG-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gtIK0K3slG"]:hover::before, [data-id="gtIK0K3slG-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gtIK0K3slG" dataId="gtIK0K3slG" data-state="idle" aria-label="Privacy policy"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:transparent;--bg:transparent;--size:19px;--lh:130%;--fs:normal;--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%"
          class="gtIK0K3slG gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  undefined"
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--size:19px;--lh:130%;--fs:normal;--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.90431 1.02931C2.93334 1.00021 2.96782 0.977117 3.00579 0.961363C3.04375 0.945609 3.08445 0.9375 3.12556 0.9375C3.16666 0.9375 3.20736 0.945609 3.24533 0.961363C3.2833 0.977117 3.31778 1.00021 3.34681 1.02931L7.09681 4.77931C7.12591 4.80834 7.149 4.84282 7.16475 4.88079C7.18051 4.91875 7.18862 4.95945 7.18862 5.00056C7.18862 5.04166 7.18051 5.08236 7.16475 5.12033C7.149 5.1583 7.12591 5.19278 7.09681 5.22181L3.34681 8.97181C3.28813 9.03049 3.20854 9.06345 3.12556 9.06345C3.04257 9.06345 2.96299 9.03049 2.90431 8.97181C2.84563 8.91313 2.81266 8.83354 2.81266 8.75056C2.81266 8.66757 2.84563 8.58799 2.90431 8.52931L6.43368 5.00056L2.90431 1.47181C2.87521 1.44278 2.85212 1.4083 2.83636 1.37033C2.82061 1.33236 2.8125 1.29166 2.8125 1.25056C2.8125 1.20945 2.82061 1.16875 2.83636 1.13079C2.85212 1.09282 2.87521 1.05834 2.90431 1.02931Z" fill="#575757"/> </svg>
    </span>
  
          
    <span
      data-gp-text
      style="--size:19px;--lh:130%;--fs:normal;--weight:400;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggtIK0K3slG_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"https://seal-commerce-asia.myshopify.com/pages/click-thru-landing-page-gemsleep#gKtGs3SrFs","target":"_self","title":"Section"}}'
      style="--bottom:42px;--bottom-mobile:62px;--bottom-tablet:42px;--pos:fixed;--right:15px;--right-mobile:15px;--right-tablet:15px;--z:9999"
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="gvNsI8fiMG"].gp-button-base::before, [data-id="gvNsI8fiMG-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gvNsI8fiMG"]:hover::before, [data-id="gvNsI8fiMG-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gvNsI8fiMG" dataId="gvNsI8fiMG" data-state="idle" aria-label
          
          href="https://seal-commerce-asia.myshopify.com/pages/click-thru-landing-page-gemsleep#gKtGs3SrFs" target="_self"
          style="--w:48px;--w-tablet:48px;--w-mobile:48px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-bg-3, bg-3);--bg:var(--g-c-bg-3, bg-3);--size:48px;--lh:100%;--fs:normal;--weight:400;--ls:normal;--size-tablet:48px;--weight-tablet:400;--size-mobile:48px;--weight-mobile:400"
          class="gvNsI8fiMG gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  undefined"
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--size:48px;--lh:100%;--fs:normal;--weight:400;--ls:normal;--size-tablet:48px;--weight-tablet:400;--size-mobile:48px;--weight-mobile:400;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9995 29.5012C24.1819 29.5012 24.3567 29.4288 24.4857 29.2999C24.6146 29.1709 24.687 28.9961 24.687 28.8137V20.8484L27.6378 23.8005C27.7017 23.8644 27.7776 23.9151 27.8611 23.9497C27.9446 23.9843 28.0341 24.0021 28.1245 24.0021C28.2149 24.0021 28.3044 23.9843 28.388 23.9497C28.4715 23.9151 28.5474 23.8644 28.6113 23.8005C28.6752 23.7366 28.7259 23.6607 28.7605 23.5772C28.7951 23.4936 28.8129 23.4041 28.8129 23.3137C28.8129 23.2233 28.7951 23.1338 28.7605 23.0503C28.7259 22.9668 28.6752 22.8909 28.6113 22.827L24.4863 18.702C24.4224 18.638 24.3465 18.5872 24.263 18.5525C24.1795 18.5178 24.09 18.5 23.9995 18.5C23.9091 18.5 23.8196 18.5178 23.736 18.5525C23.6525 18.5872 23.5766 18.638 23.5128 18.702L19.3878 22.827C19.2587 22.9561 19.1862 23.1312 19.1862 23.3137C19.1862 23.4963 19.2587 23.6714 19.3878 23.8005C19.5169 23.9296 19.692 24.0021 19.8745 24.0021C20.0571 24.0021 20.2322 23.9296 20.3613 23.8005L23.312 20.8484V28.8137C23.312 28.9961 23.3845 29.1709 23.5134 29.2999C23.6423 29.4288 23.8172 29.5012 23.9995 29.5012Z" fill="#242424"/> <rect x="0.5" y="0.5" width="47" height="47" rx="5.5" stroke="#242424"/> </svg>
    </span>
  
          
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-583114608098018136 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=583114607929852760&sectionId=583114608098018136)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gga4TuzTMwW_text","label":"gga4TuzTMwW_text","default":"<p>Copyright © 2022 GemSleeps. All Rights Reserved.</p>"},{"type":"html","id":"gg_k6PdOcRi_label","label":"gg_k6PdOcRi_label","default":"Refund policy"},{"type":"html","id":"ggGI1AYgNaP_label","label":"ggGI1AYgNaP_label","default":"Terms of service"},{"type":"html","id":"ggtIK0K3slG_label","label":"ggtIK0K3slG_label","default":"Privacy policy"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  