
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583268221881156248.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-583268221881156248.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-583268221881156248.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583268221881156248.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583268221881156248.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583268221881156248.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583268221881156248.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583268221881156248.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583268221881156248.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583268221881156248.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583268221881156248.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583268221881156248.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583268221881156248.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583268221881156248.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583268221881156248.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583268221881156248.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583268221881156248.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583268221881156248.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583268221881156248.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583268221881156248.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583268221881156248.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583268221881156248.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583268221881156248.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583268221881156248.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583268221881156248.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583268221881156248.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583268221881156248.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583268221881156248.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583268221881156248.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583268221881156248.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583268221881156248.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583268221881156248.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583268221881156248.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583268221881156248.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583268221881156248.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583268221881156248.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583268221881156248.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583268221881156248.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583268221881156248.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583268221881156248.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583268221881156248.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583268221881156248.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583268221881156248.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583268221881156248.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583268221881156248.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583268221881156248.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583268221881156248.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583268221881156248.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583268221881156248.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-583268221881156248.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583268221881156248.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583268221881156248.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583268221881156248.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-583268221881156248.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583268221881156248.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583268221881156248.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583268221881156248.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583268221881156248.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583268221881156248.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-583268221881156248.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-583268221881156248.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583268221881156248.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583268221881156248.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583268221881156248.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583268221881156248.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583268221881156248.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-583268221881156248.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583268221881156248.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583268221881156248.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583268221881156248.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583268221881156248.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583268221881156248.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583268221881156248 .gp-relative{position:relative}.gps-583268221881156248 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583268221881156248 .gp-mb-0{margin-bottom:0}.gps-583268221881156248 .gp-inline-block{display:inline-block}.gps-583268221881156248 .gp-flex{display:flex}.gps-583268221881156248 .gp-grid{display:grid}.gps-583268221881156248 .gp-contents{display:contents}.gps-583268221881156248 .\!gp-hidden{display:none!important}.gps-583268221881156248 .gp-hidden{display:none}.gps-583268221881156248 .gp-h-auto{height:auto}.gps-583268221881156248 .gp-h-full{height:100%}.gps-583268221881156248 .gp-w-full{width:100%}.gps-583268221881156248 .gp-max-w-full{max-width:100%}.gps-583268221881156248 .gp-flex-none{flex:none}.gps-583268221881156248 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583268221881156248 .gp-flex-col{flex-direction:column}.gps-583268221881156248 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583268221881156248 .gp-duration-200{transition-duration:.2s}.gps-583268221881156248 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-583268221881156248 .tablet\:\!gp-hidden{display:none!important}.gps-583268221881156248 .tablet\:gp-hidden{display:none}.gps-583268221881156248 .tablet\:gp-h-auto{height:auto}.gps-583268221881156248 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-583268221881156248 .mobile\:\!gp-hidden{display:none!important}.gps-583268221881156248 .mobile\:gp-hidden{display:none}.gps-583268221881156248 .mobile\:gp-h-auto{height:auto}.gps-583268221881156248 .mobile\:gp-flex-none{flex:none}}.gps-583268221881156248 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"linear-gradient(180deg, #DFECFF 0%, #FFFFFF 98%)","type":"color"}},"uid":"gqlOuM1bEb"}' data-id="gqlOuM1bEb" id="gqlOuM1bEb" data-same-height-subgrid-container class="gqlOuM1bEb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:64px;--pr:15px;--pt-mobile:70px;--pl-mobile:15px;--pb-mobile:32px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:linear-gradient(180deg, #DFECFF 0%, #FFFFFF 98%);--bgi:url(), linear-gradient(180deg, #DFECFF 0%, #FFFFFF 98%);--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnvjAEieb_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gqllND3veh"}' data-id="gqllND3veh" id="gqllND3veh" data-same-height-subgrid-container class="gqllND3veh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:1"
      class="gnYFKfs8VA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxsOHlejBX"
        class="gxsOHlejBX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pt:48px;--mb-mobile:42px;--pt-mobile:0px;--mb-tablet:48px;--pt-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935454"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxsOHlejBX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gt3x6IgYet"}' data-id="gt3x6IgYet" id="gt3x6IgYet" data-same-height-subgrid-container class="gt3x6IgYet gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gyE5MRoJwx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_jK44dePE"
        class="g_jK44dePE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935457"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#184E9E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;--pr:24px;--pt:4px;--pb:4px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:4px;--pb-mobile:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_jK44dePE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g_jK44dePE">
        .g_jK44dePE {

}
.g_jK44dePE p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="glbyzijF_J gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcX7SrpUpN"
        class="gcX7SrpUpN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935458"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcX7SrpUpN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gcX7SrpUpN">
        .gcX7SrpUpN {

}
.gcX7SrpUpN p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gA3UpRvTZe"}' data-id="gA3UpRvTZe" id="gA3UpRvTZe" data-same-height-subgrid-container class="gA3UpRvTZe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gg3pJBH1He gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTGSKS_GNJ"
        class="gTGSKS_GNJ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935462"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#184E9E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;--pr:24px;--pt:4px;--pb:4px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:4px;--pb-mobile:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTGSKS_GNJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gTGSKS_GNJ">
        .gTGSKS_GNJ {

}
.gTGSKS_GNJ p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g1wXPJOCDA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV1yV8FWgP"
        class="gV1yV8FWgP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935463"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggV1yV8FWgP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gV1yV8FWgP">
        .gV1yV8FWgP {

}
.gV1yV8FWgP p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6xLIKvi4I"}' data-id="g6xLIKvi4I" id="g6xLIKvi4I" data-same-height-subgrid-container class="g6xLIKvi4I gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g7XwYTb5UK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUi2AKx9SR"
        class="gUi2AKx9SR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935472"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#184E9E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;--pr:24px;--pt:4px;--pb:4px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:4px;--pb-mobile:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUi2AKx9SR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gUi2AKx9SR">
        .gUi2AKx9SR {

}
.gUi2AKx9SR p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gJsd0D65nr gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g43Yx9OTjS"
        class="g43Yx9OTjS"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935473"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg43Yx9OTjS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g43Yx9OTjS">
        .g43Yx9OTjS {

}
.g43Yx9OTjS p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkSzefyCW9"}' data-id="gkSzefyCW9" id="gkSzefyCW9" data-same-height-subgrid-container class="gkSzefyCW9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gCk8KwI1xp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHEQlZVVrh"
        class="gHEQlZVVrh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935476"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#184E9E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:24px;--pr:24px;--pt:4px;--pb:4px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:4px;--pb-mobile:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHEQlZVVrh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gHEQlZVVrh">
        .gHEQlZVVrh {

}
.gHEQlZVVrh p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g7c11-kkqA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gg7Drgx6Ld"
        class="gg7Drgx6Ld"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935478"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggg7Drgx6Ld_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gg7Drgx6Ld">
        .gg7Drgx6Ld {

}
.gg7Drgx6Ld p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:0"
      class="gKd9C4pBH4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gueS1rJb3t"
        class="gueS1rJb3t"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pt:48px;--mb-mobile:42px;--pt-mobile:0px;--mb-tablet:48px;--pt-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757185935479"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggueS1rJb3t_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gJVX1kwmYN"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:42px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757185935480 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gJVX1kwmYN"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-a1f86777-657c-4281-bb3f-4e1739c90483_1024x.png?v=1716535000" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjkwNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU1LTkwNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU1IiBoZWlnaHQ9IjkwNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjkwNiIgZmlsbD0idXJsKCNnLTg1NS05MDYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTUiIHRvPSI4NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-a1f86777-657c-4281-bb3f-4e1739c90483_1024x.png?v=1716535000" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjkwNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU1LTkwNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU1IiBoZWlnaHQ9IjkwNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjkwNiIgZmlsbD0idXJsKCNnLTg1NS05MDYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTUiIHRvPSI4NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-a1f86777-657c-4281-bb3f-4e1739c90483.png?v=1716535000" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU1IiBoZWlnaHQ9IjkwNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU1LTkwNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU1IiBoZWlnaHQ9IjkwNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU1IiBoZWlnaHQ9IjkwNiIgZmlsbD0idXJsKCNnLTg1NS05MDYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTUiIHRvPSI4NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-a1f86777-657c-4281-bb3f-4e1739c90483.png?v=1716535000"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gJVX1kwmYN">
        .gJVX1kwmYN {

}
.gJVX1kwmYN > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 19",
    "tag": "section",
    "class": "gps-583268221881156248 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=583114607929852760&sectionId=583268221881156248)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggxsOHlejBX_text","label":"ggxsOHlejBX_text","default":"The standard Lorem"},{"type":"html","id":"gg_jK44dePE_text","label":"gg_jK44dePE_text","default":"<p>Step - 1</p>"},{"type":"html","id":"ggcX7SrpUpN_text","label":"ggcX7SrpUpN_text","default":"<p>At vero eos et accusamus et iusto odio&nbsp;</p>"},{"type":"html","id":"ggTGSKS_GNJ_text","label":"ggTGSKS_GNJ_text","default":"<p>Step - 2</p>"},{"type":"html","id":"ggV1yV8FWgP_text","label":"ggV1yV8FWgP_text","default":"<p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>"},{"type":"html","id":"ggUi2AKx9SR_text","label":"ggUi2AKx9SR_text","default":"<p>Step - 3</p>"},{"type":"html","id":"gg43Yx9OTjS_text","label":"gg43Yx9OTjS_text","default":"<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti</p>"},{"type":"html","id":"ggHEQlZVVrh_text","label":"ggHEQlZVVrh_text","default":"<p>Step - 4</p>"},{"type":"html","id":"ggg7Drgx6Ld_text","label":"ggg7Drgx6Ld_text","default":"<p>At vero eos et accusamus et iusto odio dignissimos&nbsp;</p>"},{"type":"html","id":"ggueS1rJb3t_text","label":"ggueS1rJb3t_text","default":"The standard Lorem"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  