
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-585458155056530237.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-585458155056530237.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-585458155056530237.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-585458155056530237.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-585458155056530237.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-585458155056530237.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-585458155056530237.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-585458155056530237.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-585458155056530237.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-585458155056530237.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-585458155056530237.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-585458155056530237.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-585458155056530237.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-585458155056530237.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-585458155056530237.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-585458155056530237.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-585458155056530237.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-585458155056530237.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-585458155056530237.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-585458155056530237.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-585458155056530237.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-585458155056530237.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-585458155056530237.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-585458155056530237.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-585458155056530237.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-585458155056530237.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-585458155056530237.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-585458155056530237.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-585458155056530237.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-585458155056530237.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-585458155056530237.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-585458155056530237.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-585458155056530237.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-585458155056530237.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-585458155056530237.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-585458155056530237.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-585458155056530237.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-585458155056530237.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-585458155056530237.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-585458155056530237.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-585458155056530237.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-585458155056530237.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-585458155056530237.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-585458155056530237.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-585458155056530237.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-585458155056530237.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-585458155056530237.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-585458155056530237.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-585458155056530237.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-585458155056530237.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-585458155056530237.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-585458155056530237.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-585458155056530237.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-585458155056530237.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-585458155056530237.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-585458155056530237.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-585458155056530237.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-585458155056530237.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-585458155056530237.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-585458155056530237.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-585458155056530237.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-585458155056530237.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-585458155056530237.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-585458155056530237.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-585458155056530237.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-585458155056530237.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-585458155056530237.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-585458155056530237.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-585458155056530237.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-585458155056530237.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-585458155056530237.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-585458155056530237.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-585458155056530237.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-585458155056530237.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-585458155056530237.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-585458155056530237.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-585458155056530237.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-585458155056530237.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-585458155056530237.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-585458155056530237.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-585458155056530237.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-585458155056530237.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-585458155056530237.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-585458155056530237.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-585458155056530237.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-585458155056530237.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-585458155056530237.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-585458155056530237.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-585458155056530237.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-585458155056530237.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-585458155056530237.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-585458155056530237.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-585458155056530237.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-585458155056530237.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-585458155056530237.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-585458155056530237.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-585458155056530237.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-585458155056530237 .gp-relative{position:relative}.gps-585458155056530237 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-585458155056530237 .gp-mb-0{margin-bottom:0}.gps-585458155056530237 .gp-inline-block{display:inline-block}.gps-585458155056530237 .gp-flex{display:flex}.gps-585458155056530237 .gp-inline-flex{display:inline-flex}.gps-585458155056530237 .gp-grid{display:grid}.gps-585458155056530237 .gp-contents{display:contents}.gps-585458155056530237 .\!gp-hidden{display:none!important}.gps-585458155056530237 .gp-hidden{display:none}.gps-585458155056530237 .gp-h-auto{height:auto}.gps-585458155056530237 .gp-h-full{height:100%}.gps-585458155056530237 .gp-w-full{width:100%}.gps-585458155056530237 .gp-max-w-full{max-width:100%}.gps-585458155056530237 .gp-flex-none{flex:none}.gps-585458155056530237 .gp-shrink-0{flex-shrink:0}.gps-585458155056530237 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-585458155056530237 .gp-flex-col{flex-direction:column}.gps-585458155056530237 .gp-items-center{align-items:center}.gps-585458155056530237 .gp-justify-center{justify-content:center}.gps-585458155056530237 .gp-overflow-hidden{overflow:hidden}.gps-585458155056530237 .gp-border{border-width:1px}.gps-585458155056530237 .gp-border-transparent{border-color:transparent}.gps-585458155056530237 .gp-text-left{text-align:left}.gps-585458155056530237 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585458155056530237 .gp-duration-200{transition-duration:.2s}.gps-585458155056530237 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-585458155056530237 .tablet\:\!gp-hidden{display:none!important}.gps-585458155056530237 .tablet\:gp-hidden{display:none}.gps-585458155056530237 .tablet\:gp-h-auto{height:auto}.gps-585458155056530237 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-585458155056530237 .mobile\:\!gp-hidden{display:none!important}.gps-585458155056530237 .mobile\:gp-hidden{display:none}.gps-585458155056530237 .mobile\:gp-h-auto{height:auto}.gps-585458155056530237 .mobile\:gp-flex-none{flex:none}}.gps-585458155056530237 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-585458155056530237 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-585458155056530237 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-585458155056530237 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-585458155056530237 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-585458155056530237 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-585458155056530237 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#E04760","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false},"mobile":{"type":"color","color":"transparent","image":{"src":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gFt17AtVJf"}' data-id="gFt17AtVJf" id="gFt17AtVJf" data-same-height-subgrid-container class="gFt17AtVJf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#E04760;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwQjbz4AZY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g8IVkJbVF1"}' data-id="g8IVkJbVF1" id="g8IVkJbVF1" data-same-height-subgrid-container class="g8IVkJbVF1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gqDlom_HWH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNCTlmCZm1"
        class="gNCTlmCZm1"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758500453837"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--ls:0px;--size:35px;--size-tablet:32px;--size-mobile:25px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--weight:bold;--c:#4C0909;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNCTlmCZm1_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gx4uMl8x_u"
      style="--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1758500453837 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gx4uMl8x_u"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_582392123966358168-077b531c-e412-4440-87e7-061896c3ad19.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE4MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTgwLTE4MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE4MCIgZmlsbD0idXJsKCNnLTE4MC0xODApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xODAiIHRvPSIxODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_582392123966358168-077b531c-e412-4440-87e7-061896c3ad19.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE4MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTgwLTE4MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE4MCIgZmlsbD0idXJsKCNnLTE4MC0xODApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xODAiIHRvPSIxODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_582392123966358168-077b531c-e412-4440-87e7-061896c3ad19.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE4MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTgwLTE4MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE4MCIgZmlsbD0idXJsKCNnLTE4MC0xODApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xODAiIHRvPSIxODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_582392123966358168-077b531c-e412-4440-87e7-061896c3ad19.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:transparent;--bblr:9999px;--btrr:9999px;--bbrr:9999px;--btlr:9999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gFm2X_uExK gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="glvrQfCN3t ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="glvrQfCN3t"
      data-id="glvrQfCN3t"
      style="--mt:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ml-mobile:10px;--mb-mobile:-8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left;--jc-mobile:left"
      className="glvrQfCN3t"
      gp-data='{"position":{"desktop":"baseline","tablet":"center","mobile":"baseline"},"iconWidth":{"desktop":24,"mobile":"35"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--w-mobile:80%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:12px;--rg-mobile:24px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-glvrQfCN3t"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#4C0909;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:35px"
                        >
                          <svg height="20" width="20" data-name="fire-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817572696555880">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M177.62,159.6a52,52,0,0,1-34,34,12.2,12.2,0,0,1-3.6.55,12,12,0,0,1-3.6-23.45,28,28,0,0,0,18.32-18.32,12,12,0,0,1,22.9,7.2ZM220,144a92,92,0,0,1-184,0c0-28.81,11.27-58.18,33.48-87.28a12,12,0,0,1,17.9-1.33L107.07,74.5,127,19.89a12,12,0,0,1,18.94-5.12C168.2,33.25,220,82.85,220,144Zm-24,0c0-41.71-30.61-78.39-52.52-99.29l-20.21,55.4a12,12,0,0,1-19.63,4.5L80.71,82.36C67,103.38,60,124.06,60,144a68,68,0,0,0,136,0Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758500453844"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--ls:0px;--size:24px;--size-tablet:14px;--size-mobile:20px;--lh:150%;--lh-tablet:180%;--lh-mobile:100%;--weight:bold;--c:#E04760;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglvrQfCN3t_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-glvrQfCN3t"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#4C0909;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:35px"
                        >
                          <svg height="20" width="20" data-name="leaf-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817633464942952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M221.45,40.19a6,6,0,0,0-5.64-5.64C140.43,30.11,80.14,52.71,54.53,95c-17.44,28.79-16.76,62.8,1.79,96.2L35.76,211.76a6,6,0,1,0,8.48,8.48L64.8,199.68c17.27,9.59,34.7,14.41,51.49,14.41A85.38,85.38,0,0,0,161,201.47C203.29,175.86,225.88,115.57,221.45,40.19Zm-66.66,151c-24.08,14.58-52.64,14.37-81.13-.39l90.59-90.59a6,6,0,0,0-8.48-8.48L65.18,182.34c-14.76-28.49-15-57-.39-81.13,22.68-37.43,76.63-57.8,145-54.95C212.59,114.58,192.22,168.54,154.79,191.21Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758500453844"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--ls:0px;--size:24px;--size-tablet:14px;--size-mobile:20px;--lh:150%;--lh-tablet:180%;--lh-mobile:100%;--weight:bold;--c:#E04760;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglvrQfCN3t_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-glvrQfCN3t"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#4C0909;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:35px"
                        >
                          <svg height="20" width="20" data-name="heart-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817577246196072">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M178,36c-20.09,0-37.92,7.93-50,21.56C115.92,43.93,98.09,36,78,36a66.08,66.08,0,0,0-66,66c0,72.34,105.81,130.14,110.31,132.57a12,12,0,0,0,11.38,0C138.19,232.14,244,174.34,244,102A66.08,66.08,0,0,0,178,36Zm-5.49,142.36A328.69,328.69,0,0,1,128,210.16a328.69,328.69,0,0,1-44.51-31.8C61.82,159.77,36,131.42,36,102A42,42,0,0,1,78,60c17.8,0,32.7,9.4,38.89,24.54a12,12,0,0,0,22.22,0C145.3,69.4,160.2,60,178,60a42,42,0,0,1,42,42C220,131.42,194.18,159.77,172.51,178.36Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758500453844"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--ls:0px;--size:24px;--size-tablet:14px;--size-mobile:20px;--lh:150%;--lh-tablet:180%;--lh-mobile:100%;--weight:bold;--c:#E04760;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglvrQfCN3t_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-glvrQfCN3t"
                      style="--cg:8px;--ai:baseline;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#4C0909;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:35px"
                        >
                          <svg height="20" width="20" data-name="smiley-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817595011105128">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M178.39,158c-11,19.06-29.39,30-50.39,30s-39.36-10.93-50.39-30a12,12,0,0,1,20.78-12c3.89,6.73,12.91,18,29.61,18s25.72-11.28,29.61-18a12,12,0,1,1,20.78,12ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128ZM92,124a16,16,0,1,0-16-16A16,16,0,0,0,92,124Zm72-32a16,16,0,1,0,16,16A16,16,0,0,0,164,92Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758500453845"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--ls:0px;--size:24px;--size-tablet:14px;--size-mobile:20px;--lh:150%;--lh-tablet:180%;--lh-mobile:100%;--weight:bold;--c:#E04760;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglvrQfCN3t_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EK9C0.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EH9C0Ym4fA1Tvwvw.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EO9C0Ym4fA1Tvwvw.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EG9C0Ym4fA1Tvwvw.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EJ9C0Ym4fA1Tvwvw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EF9C0Ym4fA1Tvwvw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EE9C0Ym4fA1Tvwvw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EK9C0Ym4fA1Ts.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-585458155056530237 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=584906323179602520&sectionId=585458155056530237)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggNCTlmCZm1_text","label":"ggNCTlmCZm1_text","default":"O QUE VOCÊ VAI SENTIR COM TESTO BOOST"},{"type":"html","id":"gglvrQfCN3t_childItem_0","label":"gglvrQfCN3t_childItem_0","default":"<p>Libido Restaurada</p>"},{"type":"html","id":"gglvrQfCN3t_childItem_1","label":"gglvrQfCN3t_childItem_1","default":"<p>Resultados Naturais e Reais</p>"},{"type":"html","id":"gglvrQfCN3t_childItem_2","label":"gglvrQfCN3t_childItem_2","default":"<p>Reconexão com o Parceiro</p>"},{"type":"html","id":"gglvrQfCN3t_childItem_3","label":"gglvrQfCN3t_childItem_3","default":"<p>Autoestima Nas Alturas</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  