
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596477063306740716.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596477063306740716.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-596477063306740716.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596477063306740716.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596477063306740716.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596477063306740716.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-596477063306740716.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596477063306740716.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596477063306740716.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596477063306740716.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596477063306740716.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-596477063306740716.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596477063306740716.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-596477063306740716.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596477063306740716.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596477063306740716.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-596477063306740716.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596477063306740716.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-596477063306740716.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596477063306740716.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596477063306740716.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596477063306740716.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-596477063306740716.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596477063306740716.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-596477063306740716.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596477063306740716.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-596477063306740716.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596477063306740716.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596477063306740716.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596477063306740716.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596477063306740716.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596477063306740716.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596477063306740716.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596477063306740716.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596477063306740716.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596477063306740716.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596477063306740716.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596477063306740716.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596477063306740716.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596477063306740716.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596477063306740716.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596477063306740716.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596477063306740716.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596477063306740716.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-596477063306740716.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596477063306740716.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596477063306740716.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596477063306740716.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596477063306740716.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596477063306740716.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596477063306740716.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596477063306740716.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596477063306740716.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596477063306740716.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596477063306740716.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-596477063306740716.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596477063306740716.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596477063306740716.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-596477063306740716.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596477063306740716.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596477063306740716.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-596477063306740716.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596477063306740716.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596477063306740716.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596477063306740716.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596477063306740716.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-596477063306740716.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-596477063306740716.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-596477063306740716.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596477063306740716.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596477063306740716.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596477063306740716.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596477063306740716.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-596477063306740716.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596477063306740716.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-596477063306740716.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-596477063306740716.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-596477063306740716.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-596477063306740716.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-596477063306740716.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-596477063306740716.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-596477063306740716.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596477063306740716.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596477063306740716.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596477063306740716.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596477063306740716.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596477063306740716.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-596477063306740716.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-596477063306740716.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-596477063306740716.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596477063306740716.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596477063306740716.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596477063306740716.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596477063306740716.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-596477063306740716.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596477063306740716.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596477063306740716.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-596477063306740716 .gp-relative{position:relative}.gps-596477063306740716 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596477063306740716 .gp-mb-0{margin-bottom:0}.gps-596477063306740716 .gp-flex{display:flex}.gps-596477063306740716 .gp-inline-flex{display:inline-flex}.gps-596477063306740716 .gp-grid{display:grid}.gps-596477063306740716 .\!gp-hidden{display:none!important}.gps-596477063306740716 .gp-hidden{display:none}.gps-596477063306740716 .gp-h-full{height:100%}.gps-596477063306740716 .gp-max-w-full{max-width:100%}.gps-596477063306740716 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596477063306740716 .gp-flex-col{flex-direction:column}.gps-596477063306740716 .gp-items-center{align-items:center}.gps-596477063306740716 .gp-justify-center{justify-content:center}.gps-596477063306740716 .gp-overflow-hidden{overflow:hidden}.gps-596477063306740716 .gp-break-words{overflow-wrap:break-word}.gps-596477063306740716 .gp-text-center{text-align:center}.gps-596477063306740716 .gp-leading-\[0\]{line-height:0}.gps-596477063306740716 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-596477063306740716 .gp-no-underline{text-decoration-line:none}.gps-596477063306740716 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596477063306740716 .gp-duration-200{transition-duration:.2s}.gps-596477063306740716 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596477063306740716 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-596477063306740716 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-596477063306740716 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-596477063306740716 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-596477063306740716 .tablet\:\!gp-hidden{display:none!important}.gps-596477063306740716 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-596477063306740716 .mobile\:\!gp-hidden{display:none!important}.gps-596477063306740716 .mobile\:gp-hidden{display:none}}.gps-596477063306740716 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-596477063306740716 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-596477063306740716 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-596477063306740716 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-596477063306740716 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-596477063306740716 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxm7FEN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFE6E8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"src":""},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCQL2OkHnH"}' data-id="gCQL2OkHnH" id="gCQL2OkHnH" data-same-height-subgrid-container class="gCQL2OkHnH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:-34px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:-34px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#FFE6E8;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0Y85Ulp_- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5ycWxaceb"
        class="g5ycWxaceb"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:var(--g-s-3xl);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:var(--g-s-3xl);--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:var(--g-s-3xl);--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:35px;--size-tablet:32px;--size-mobile:30px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0px;--weight:bold;--c:#000000;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5ycWxaceb_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gJXCz558Ec"}' data-id="gJXCz558Ec" id="gJXCz558Ec" data-same-height-subgrid-container class="gJXCz558Ec gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gqs84wPjeY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gIjuWy2Ben"}' data-id="gIjuWy2Ben" id="gIjuWy2Ben" data-same-height-subgrid-container class="gIjuWy2Ben gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:54px;--mb:10px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mt-mobile:0px;--ml-mobile:24px;--mb-mobile:10px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--mt-tablet:0px;--ml-tablet:54px;--mb-tablet:10px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWBgl15059 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gNA66BtFUc"}' data-id="gNA66BtFUc" id="gNA66BtFUc" data-same-height-subgrid-container class="gNA66BtFUc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:10px;--pt:0px;--pl:0px;--pb:10px;--pr:0px;--mt-mobile:0px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9N1C0gd67 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0suhlOYi_"
        class="g0suhlOYi_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-heading, heading);--size:44px;--size-tablet:32px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--weight:bold;--c:#E04760;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0suhlOYi__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gy3oRP6dH- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfogvK6YJX"
        class="gfogvK6YJX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-heading, heading);--weight:400;--size:35px;--size-tablet:32px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfogvK6YJX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5_WB6MH_S"
        class="g5_WB6MH_S"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:1px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5_WB6MH_S_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1361AJL6u"}' data-id="g1361AJL6u" id="g1361AJL6u" data-same-height-subgrid-container class="g1361AJL6u gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:0px;--pl:0px;--pb:10px;--pr:0px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:10px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4SELI7SjZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjvqBHeTPm"
        class="gjvqBHeTPm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-heading, heading);--size:44px;--size-tablet:32px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--weight:bold;--c:#E04760;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjvqBHeTPm_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ghmxnVHYpy gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYc0oFm-I0"
        class="gYc0oFm-I0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-heading, heading);--weight:400;--size:35px;--size-tablet:32px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--c:#4C0909;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYc0oFm-I0_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggXKl84s4b"
        class="ggXKl84s4b"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:1px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggXKl84s4b_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"ggHA7c8ib-"}' data-id="ggHA7c8ib-" id="ggHA7c8ib-" data-same-height-subgrid-container class="ggHA7c8ib- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVY_mLMA6G gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUo5HDyavO"
        class="gUo5HDyavO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-heading, heading);--size:44px;--size-tablet:32px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--weight:bold;--c:#E04760;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUo5HDyavO_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gM2O_2dPU0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gibK5EH1pV"
        class="gibK5EH1pV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-heading, heading);--weight:400;--size:35px;--size-tablet:32px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggibK5EH1pV_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFV2DgLvSC"
        class="gFV2DgLvSC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:1px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFV2DgLvSC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g6zzxTRZaO gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gddLWQ6dZN"
        class="gddLWQ6dZN"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:66px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:40px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:66px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-heading, heading);--size:30px;--size-tablet:32px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggddLWQ6dZN_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdiMPnN5Zb"}' data-id="gdiMPnN5Zb" id="gdiMPnN5Zb" data-same-height-subgrid-container class="gdiMPnN5Zb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:0px;--pl:var(--g-s-l);--pb:0px;--pr:var(--g-s-l);--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:var(--g-s-l);--pb-tablet:0px;--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gixbw6dhUk gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g8GkmcIvNC" class="gp-leading-[0] g8GkmcIvNC" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:-16px;--mt-mobile:0px;--mb-mobile:-16px;--mt-tablet:0px;--mb-tablet:-16px;--ta:center">
      <div data-id="g8GkmcIvNC" class="icon-wrapper gp-inline-flex gp-overflow-hidden g8GkmcIvNC " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:40px;--w-tablet:40px;--w-mobile:40px;--h:40px;--h-tablet:40px;--h-mobile:40px;--minw:40px;--minw-tablet:40px;--minw-mobile:40px;--height-desktop:40px;--height-tablet:40px;--height-mobile:40px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="arrow-down-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550822211944">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,152.49l-72,72a12,12,0,0,1-17,0l-72-72a12,12,0,0,1,17-17L116,187V40a12,12,0,0,1,24,0V187l51.51-51.52a12,12,0,0,1,17,17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#gLfQbNhKDH","title":"Section 14","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:35px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:18px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:35px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gwwFRT0F_3"].gp-button-base::before, [data-id="gwwFRT0F_3-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      
  
    }
  
      
  [data-id="gwwFRT0F_3"]:hover::before, [data-id="gwwFRT0F_3-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gLfQbNhKDH
            target=undefined
          ></a>
        <a
          data-id="gwwFRT0F_3" dataId="gwwFRT0F_3" data-state="idle" aria-label="<p><span style='font-size:25px;'><strong>COMPRAR AGORA</strong></span></p>"
          
          href="#gLfQbNhKDH" target
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--hvr-bblr:12px;--hvr-bbrr:12px;--hvr-btlr:12px;--hvr-btrr:12px;--bgi:;--hvr-bgi:;--hvr-bg:#E2BC2F;--bg:#FFD644;--c:#000000;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:32px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:0px"
          class="gwwFRT0F_3 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:32px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:0px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggwwFRT0F_3_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-596477063306740716 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=596477063121077228&sectionId=596477063306740716)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5ycWxaceb_text","label":"gg5ycWxaceb_text","default":"<strong>resultados reais em mulheres reais</strong>"},{"type":"html","id":"gg0suhlOYi__text","label":"gg0suhlOYi__text","default":"91%"},{"type":"html","id":"ggfogvK6YJX_text","label":"ggfogvK6YJX_text","default":"Relataram"},{"type":"html","id":"gg5_WB6MH_S_text","label":"gg5_WB6MH_S_text","default":"<p>aumento da libido</p>"},{"type":"html","id":"ggjvqBHeTPm_text","label":"ggjvqBHeTPm_text","default":"89%"},{"type":"html","id":"ggYc0oFm-I0_text","label":"ggYc0oFm-I0_text","default":"Observaram&nbsp;"},{"type":"html","id":"gggXKl84s4b_text","label":"gggXKl84s4b_text","default":"<p>melhora na capacidade de excitação</p>"},{"type":"html","id":"ggUo5HDyavO_text","label":"ggUo5HDyavO_text","default":"93%"},{"type":"html","id":"ggibK5EH1pV_text","label":"ggibK5EH1pV_text","default":"Melhoraram"},{"type":"html","id":"ggFV2DgLvSC_text","label":"ggFV2DgLvSC_text","default":"<p>qualidade das relações íntimas</p>"},{"type":"html","id":"ggddLWQ6dZN_text","label":"ggddLWQ6dZN_text","default":"VOCÊ PODE SER A PRÓXIMA!"},{"type":"html","id":"ggwwFRT0F_3_label","label":"ggwwFRT0F_3_label","default":"<p><span style=\"font-size:25px;\"><strong>COMPRAR AGORA</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}