
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583159769963955161.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583159769963955161.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583159769963955161.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583159769963955161.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583159769963955161.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583159769963955161.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583159769963955161.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583159769963955161.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583159769963955161.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583159769963955161.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583159769963955161.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583159769963955161.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583159769963955161.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583159769963955161.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583159769963955161.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583159769963955161.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583159769963955161.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583159769963955161.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583159769963955161.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583159769963955161.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583159769963955161.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583159769963955161.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583159769963955161.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583159769963955161.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583159769963955161.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-583159769963955161.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583159769963955161.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583159769963955161.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583159769963955161.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583159769963955161.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583159769963955161.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583159769963955161.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583159769963955161.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583159769963955161.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583159769963955161.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-583159769963955161.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583159769963955161.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583159769963955161.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583159769963955161.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583159769963955161.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583159769963955161.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583159769963955161.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583159769963955161.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583159769963955161.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583159769963955161.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-583159769963955161.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583159769963955161.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583159769963955161.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583159769963955161.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-583159769963955161.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583159769963955161.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583159769963955161.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583159769963955161.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-583159769963955161.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-583159769963955161.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-583159769963955161.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583159769963955161.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583159769963955161.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583159769963955161.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583159769963955161.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-583159769963955161.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583159769963955161.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-583159769963955161.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583159769963955161.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583159769963955161.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583159769963955161.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583159769963955161.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-583159769963955161.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-583159769963955161.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583159769963955161.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583159769963955161.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583159769963955161.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583159769963955161.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-583159769963955161.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583159769963955161.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583159769963955161 .gp-relative{position:relative}.gps-583159769963955161 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583159769963955161 .gp-mb-0{margin-bottom:0}.gps-583159769963955161 .gp-flex{display:flex}.gps-583159769963955161 .gp-inline-flex{display:inline-flex}.gps-583159769963955161 .gp-grid{display:grid}.gps-583159769963955161 .\!gp-hidden{display:none!important}.gps-583159769963955161 .gp-hidden{display:none}.gps-583159769963955161 .gp-w-full{width:100%}.gps-583159769963955161 .gp-max-w-full{max-width:100%}.gps-583159769963955161 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583159769963955161 .gp-flex-col{flex-direction:column}.gps-583159769963955161 .gp-items-center{align-items:center}.gps-583159769963955161 .gp-justify-center{justify-content:center}.gps-583159769963955161 .gp-overflow-hidden{overflow:hidden}.gps-583159769963955161 .gp-leading-\[0\]{line-height:0}.gps-583159769963955161 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-583159769963955161 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583159769963955161 .gp-duration-200{transition-duration:.2s}.gps-583159769963955161 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-583159769963955161 .tablet\:\!gp-hidden{display:none!important}.gps-583159769963955161 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-583159769963955161 .mobile\:\!gp-hidden{display:none!important}.gps-583159769963955161 .mobile\:gp-hidden{display:none}}.gps-583159769963955161 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-583159769963955161 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-583159769963955161 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-583159769963955161 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-583159769963955161 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F1F0EC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZhZW6Ali4"}' data-id="gZhZW6Ali4" id="gZhZW6Ali4" data-same-height-subgrid-container class="gZhZW6Ali4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:49px;--pl:25px;--pb:42px;--pr:25px;--pt-mobile:17px;--pl-mobile:25px;--pb-mobile:17px;--pr-mobile:25px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F1F0EC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNzThimpe4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUl_Ra5wwN"}' data-id="gUl_Ra5wwN" id="gUl_Ra5wwN" data-same-height-subgrid-container class="gUl_Ra5wwN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:0px;--mb-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:30px;--cg-tablet:30px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gyIAQoVg1q gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLGptmlOx-"}' data-id="gLGptmlOx-" id="gLGptmlOx-" data-same-height-subgrid-container class="gLGptmlOx- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--cg:30px;--cg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g-7N0qSvr7 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="g4KAi2F-cl ">
      
    
    <div class="gp-flex" >
    <div
      data-id="g4KAi2F-cl"
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-l);--gg-mobile:8px"
        >
        
    <li
      data-index="0" data-id="gjlKdk5_W_"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-g4KAi2F-cl"
      style="--cg:12px;--cg-mobile:6px"
    >
    <div
      data-same-height-display-contents
      
      class="gKbKZYxnch gp-relative gp-flex gp-flex-col"
    >
      
    <div id="goekWfDzEG" class="gp-leading-[0] goekWfDzEG" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="goekWfDzEG" class="icon-wrapper gp-inline-flex gp-overflow-hidden goekWfDzEG " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:58px;--w-tablet:58px;--w-mobile:36px;--h:58px;--h-tablet:58px;--h-mobile:36px;--minw:58px;--minw-tablet:58px;--minw-mobile:36px;--height-desktop:58px;--height-tablet:58px;--height-mobile:36px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="523771796185416466" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
<g clip-path="url(#clip0_36_102)">
<path d="M44.2621 34.6182C40.2308 34.6182 36.9512 37.8978 36.9512 41.9291C36.9512 45.9604 40.2308 49.2401 44.2621 49.2401C48.2941 49.2401 51.5731 45.9604 51.5731 41.9291C51.5731 37.8978 48.2935 34.6182 44.2621 34.6182ZM44.2621 45.5846C42.2462 45.5846 40.6066 43.9451 40.6066 41.9291C40.6066 39.9132 42.2462 38.2736 44.2621 38.2736C46.2781 38.2736 47.9176 39.9132 47.9176 41.9291C47.9176 43.9452 46.2781 45.5846 44.2621 45.5846Z" fill="#4B6D13"/>
<path d="M19.2836 34.6182C15.2523 34.6182 11.9727 37.8978 11.9727 41.9291C11.9727 45.9604 15.2523 49.2401 19.2836 49.2401C23.3149 49.2401 26.5945 45.9604 26.5945 41.9291C26.5945 37.8978 23.3149 34.6182 19.2836 34.6182ZM19.2836 45.5846C17.2676 45.5846 15.6281 43.9451 15.6281 41.9291C15.6281 39.9132 17.2676 38.2736 19.2836 38.2736C21.299 38.2736 22.9391 39.9132 22.9391 41.9291C22.9391 43.9452 21.2996 45.5846 19.2836 45.5846Z" fill="#4B6D13"/>
<path d="M49.1853 13.6916C48.8745 13.0744 48.2428 12.6851 47.5519 12.6851H37.9258V16.3405H46.4247L51.4016 26.2395L54.6684 24.5969L49.1853 13.6916Z" fill="#4B6D13"/>
<path d="M38.779 40.1621H24.9492V43.8176H38.779V40.1621Z" fill="#4B6D13"/>
<path d="M13.7985 40.1621H7.46245C6.45288 40.1621 5.63477 40.9803 5.63477 41.9898C5.63477 42.9994 6.453 43.8175 7.46245 43.8175H13.7986C14.8082 43.8175 15.6263 42.9992 15.6263 41.9898C15.6263 40.9802 14.8081 40.1621 13.7985 40.1621Z" fill="#4B6D13"/>
<path d="M58.0723 28.9886L54.4772 24.3583C54.1318 23.9123 53.5987 23.6516 53.0339 23.6516H39.7524V10.8575C39.7524 9.8479 38.9341 9.02979 37.9247 9.02979H7.46245C6.45288 9.02979 5.63477 9.84802 5.63477 10.8575C5.63477 11.8669 6.453 12.6851 7.46245 12.6851H36.0969V25.4792C36.0969 26.4888 36.9151 27.3069 37.9246 27.3069H52.1389L54.8006 30.7357V40.162H49.7439C48.7343 40.162 47.9162 40.9802 47.9162 41.9896C47.9162 42.9992 48.7344 43.8173 49.7439 43.8173H56.6283C57.6379 43.8173 58.456 42.9991 58.4561 41.9896V30.1096C58.4561 29.7038 58.3209 29.3091 58.0723 28.9886Z" fill="#4B6D13"/>
<path d="M13.6767 30.9014H5.26909C4.25952 30.9014 3.44141 31.7196 3.44141 32.729C3.44141 33.7386 4.25964 34.5567 5.26909 34.5567H13.6766C14.6862 34.5567 15.5043 33.7385 15.5043 32.729C15.5044 31.7196 14.6862 30.9014 13.6767 30.9014Z" fill="#4B6D13"/>
<path d="M17.8814 23.7124H2.28471C1.27526 23.7124 0.457031 24.5306 0.457031 25.5402C0.457031 26.5498 1.27526 27.3679 2.28471 27.3679H17.8814C18.8909 27.3679 19.7091 26.5496 19.7091 25.5402C19.7091 24.5307 18.8909 23.7124 17.8814 23.7124Z" fill="#4B6D13"/>
<path d="M20.8658 16.5234H5.26909C4.25952 16.5234 3.44141 17.3417 3.44141 18.3511C3.44141 19.3607 4.25964 20.1788 5.26909 20.1788H20.8658C21.8753 20.1788 22.6934 19.3606 22.6934 18.3511C22.6936 17.3417 21.8753 16.5234 20.8658 16.5234Z" fill="#4B6D13"/>
</g>
<defs>
<clipPath id="clip0_36_102">
<rect width="58" height="58" fill="white" transform="translate(0.457031 0.134766)"/>
</clipPath>
</defs>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gYVTd_unYG gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZxLfyqlHg"
        class="gZxLfyqlHg"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757120050008"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:500;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:18px;--lh-tablet:18px;--lh-mobile:14px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZxLfyqlHg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD7O4xL5UO"
        class="gD7O4xL5UO"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757120050009"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:23px;--lh-tablet:18px;--lh-mobile:14px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD7O4xL5UO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gQM0zWpve2 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gQ-qvzoHiE ">
      
    
    <div class="gp-flex" >
    <div
      data-id="gQ-qvzoHiE"
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:right;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-l);--gg-mobile:8px"
        >
        
    <li
      data-index="0" data-id="g5I0qxw_9R"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gQ-qvzoHiE"
      style="--cg:12px;--cg-mobile:6px"
    >
    <div
      data-same-height-display-contents
      
      class="gHslmmVVLo gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gMvJ0EHS_i" class="gp-leading-[0] gMvJ0EHS_i" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gMvJ0EHS_i" class="icon-wrapper gp-inline-flex gp-overflow-hidden gMvJ0EHS_i " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:40px;--w-tablet:40px;--w-mobile:26px;--h:40px;--h-tablet:40px;--h-mobile:26px;--minw:40px;--minw-tablet:40px;--minw-mobile:26px;--height-desktop:40px;--height-tablet:40px;--height-mobile:26px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="523771894550233874" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<g clip-path="url(#clip0_36_132)">
<path d="M19.8711 0C9.10153 0 0.371094 8.95429 0.371094 20C0.371094 31.0456 9.10153 39.9999 19.8711 39.9999C30.6406 39.9999 39.371 31.0456 39.371 20C39.3596 8.95923 30.6358 0.0118024 19.8711 0ZM9.04032 6.92561C12.0648 4.29299 15.9043 2.85075 19.8711 2.8572C23.8216 2.85594 27.6436 4.29668 30.6531 6.92151L7.11393 31.0643C1.14682 23.8529 2.0093 13.0457 9.04032 6.92561ZM30.7019 33.0744C27.6774 35.707 23.8379 37.1492 19.8711 37.1428C15.9206 37.1441 12.0986 35.7033 9.08904 33.0785L32.6283 8.93562C38.5954 16.147 37.7329 26.9543 30.7019 33.0744Z" fill="#4B6D13"/>
</g>
<defs>
<clipPath id="clip0_36_132">
<rect width="39" height="40" fill="white" transform="translate(0.371094)"/>
</clipPath>
</defs>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gjYq9m0Ca0 gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_1RowmgyT"
        class="g_1RowmgyT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757120050013"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:500;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:18px;--lh-tablet:18px;--lh-mobile:14px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_1RowmgyT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYcq3DprXR"
        class="gYcq3DprXR"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757120050014"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:23px;--lh-tablet:18px;--lh-mobile:14px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYcq3DprXR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gseass1mQk gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gyPyqmAT6T ">
      
    
    <div class="gp-flex" >
    <div
      data-id="gyPyqmAT6T"
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-l);--gg-mobile:8px"
        >
        
    <li
      data-index="0" data-id="gUpjVCVkFV"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gyPyqmAT6T"
      style="--cg:12px;--cg-mobile:6px"
    >
    <div
      data-same-height-display-contents
      
      class="gBjA6vY2MC gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gEK99JTjsX" class="gp-leading-[0] gEK99JTjsX" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gEK99JTjsX" class="icon-wrapper gp-inline-flex gp-overflow-hidden gEK99JTjsX " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:48px;--w-tablet:48px;--w-mobile:32px;--h:48px;--h-tablet:48px;--h-mobile:32px;--minw:48px;--minw-tablet:48px;--minw-mobile:32px;--height-desktop:48px;--height-tablet:48px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="523771935771853586" xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49" fill="none">
<path d="M42.9905 6.59641L43.7731 8.84285C43.8066 8.93903 43.873 9.01521 43.9567 9.05378L45.9117 9.95301C46.1879 10.0801 46.1879 10.5293 45.9117 10.6563L43.9567 11.5556C43.873 11.594 43.8067 11.6703 43.7731 11.7665L42.9905 14.0129C42.88 14.3303 42.4889 14.3303 42.3784 14.0129L41.5958 11.7665C41.5623 11.6703 41.4959 11.5941 41.4122 11.5556L39.4571 10.6563C39.181 10.5293 39.181 10.08 39.4571 9.95301L41.4122 9.05378C41.4959 9.01531 41.5622 8.93903 41.5958 8.84285L42.3784 6.59641C42.4889 6.27906 42.8799 6.27906 42.9905 6.59641Z" fill="#4B6D13"/>
<path d="M13.7395 0.176572L14.32 1.84296C14.3449 1.91425 14.3941 1.97081 14.4562 1.99943L15.9065 2.66648C16.1114 2.76075 16.1114 3.09399 15.9065 3.18816L14.4562 3.85521C14.3941 3.88373 14.3449 3.94029 14.32 4.01168L13.7395 5.67807C13.6575 5.9135 13.3674 5.9135 13.2854 5.67807L12.7049 4.01168C12.6801 3.94038 12.6309 3.88382 12.5688 3.85521L11.1185 3.18816C10.9136 3.09389 10.9136 2.76065 11.1185 2.66648L12.5688 1.99943C12.6309 1.97091 12.6801 1.91435 12.7049 1.84296L13.2854 0.176572C13.3674 -0.0588574 13.6575 -0.0588574 13.7395 0.176572Z" fill="#4B6D13"/>
<path d="M37.4443 3.65583C37.4443 4.30412 36.9295 4.82963 36.2945 4.82963C35.6594 4.82963 35.1445 4.30403 35.1445 3.65583C35.1445 3.00754 35.6593 2.48193 36.2945 2.48193C36.9295 2.48193 37.4443 3.00744 37.4443 3.65583Z" fill="#4B6D13"/>
<path d="M6.05337 10.1948C6.05337 11.1524 5.29287 11.9287 4.35481 11.9287C3.41675 11.9287 2.65625 11.1524 2.65625 10.1948C2.65625 9.23716 3.41675 8.46082 4.35481 8.46082C5.29287 8.46091 6.05337 9.23716 6.05337 10.1948Z" fill="#4B6D13"/>
<path d="M23.5912 48.9999C12.8833 48.9999 4.17188 40.1069 4.17188 29.176C4.17188 18.2451 12.8833 9.35205 23.5912 9.35205C34.2992 9.35205 43.0106 18.2451 43.0106 29.176C43.0105 40.1069 34.2991 48.9999 23.5912 48.9999ZM23.5912 11.2768C13.923 11.2768 6.05747 19.3063 6.05747 29.1759C6.05747 39.0455 13.9231 47.0751 23.5912 47.0751C33.2594 47.0751 41.125 39.0456 41.125 29.176C41.125 19.3064 33.2594 11.2768 23.5912 11.2768Z" fill="#4B6D13"/>
<path d="M19.2247 24.7383C18.7041 24.7383 18.282 24.3074 18.282 23.7759C18.282 22.2988 17.1048 21.0971 15.658 21.0971C14.2111 21.0971 13.0339 22.2988 13.0339 23.7759C13.0339 24.3074 12.6118 24.7383 12.0912 24.7383C11.5706 24.7383 11.1484 24.3074 11.1484 23.7759C11.1484 21.2374 13.1715 19.1724 15.6581 19.1724C18.1446 19.1724 20.1677 21.2375 20.1677 23.7759C20.1675 24.3074 19.7453 24.7383 19.2247 24.7383Z" fill="#4B6D13"/>
<path d="M35.0919 24.7383C34.5713 24.7383 34.1492 24.3074 34.1492 23.7759C34.1492 22.2988 32.972 21.0971 31.5251 21.0971C30.0782 21.0971 28.9011 22.2988 28.9011 23.7759C28.9011 24.3074 28.479 24.7383 27.9584 24.7383C27.4378 24.7383 27.0156 24.3074 27.0156 23.7759C27.0156 21.2374 29.0387 19.1724 31.5252 19.1724C34.0118 19.1724 36.0348 21.2375 36.0348 23.7759C36.0347 24.3074 35.6125 24.7383 35.0919 24.7383Z" fill="#4B6D13"/>
<path d="M36.1382 28.5707H11.0443C10.5237 28.5707 10.1016 29.0015 10.1016 29.5331C10.1016 37.1263 16.153 43.3038 23.5913 43.3038C31.0295 43.3038 37.0809 37.1263 37.0809 29.5331C37.0809 29.0016 36.6588 28.5707 36.1382 28.5707ZM16.4294 38.8465C17.7161 36.7411 20.4916 35.3682 23.5913 35.3682C26.6908 35.3682 29.4663 36.7411 30.7531 38.8465C28.7793 40.4317 26.2917 41.379 23.5913 41.379C20.8908 41.379 18.4032 40.4317 16.4294 38.8465ZM32.1511 37.5218C30.4521 35.0401 27.1843 33.4434 23.5912 33.4434C19.9979 33.4434 16.7299 35.0399 15.031 37.5216C13.3407 35.6357 12.2383 33.1919 12.0248 30.4956H35.1574C34.944 33.192 33.8416 35.6359 32.1511 37.5218Z" fill="#4B6D13"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="geOnA13vxn gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd9gxy5yTZ"
        class="gd9gxy5yTZ"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757120050018"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:500;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:11px;--lh:18px;--lh-tablet:18px;--lh-mobile:15px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggd9gxy5yTZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gebtvQiWyP"
        class="gebtvQiWyP"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757120050019"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:23px;--lh-tablet:18px;--lh-mobile:15px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggebtvQiWyP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 19",
    "tag": "section",
    "class": "gps-583159769963955161 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=583114607929852760&sectionId=583159769963955161)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZxLfyqlHg_text","label":"ggZxLfyqlHg_text","default":"<p>Delivered quarterly</p>"},{"type":"html","id":"ggD7O4xL5UO_text","label":"ggD7O4xL5UO_text","default":"<p>to your drop.</p>"},{"type":"html","id":"gg_1RowmgyT_text","label":"gg_1RowmgyT_text","default":"<p>Cancel anytime</p>"},{"type":"html","id":"ggYcq3DprXR_text","label":"ggYcq3DprXR_text","default":"<p>no hassle.</p>"},{"type":"html","id":"ggd9gxy5yTZ_text","label":"ggd9gxy5yTZ_text","default":"<p>Free Shipping</p>"},{"type":"html","id":"ggebtvQiWyP_text","label":"ggebtvQiWyP_text","default":"<p>for every refill.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  