
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582807064783356568.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-582807064783356568.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-582807064783356568.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582807064783356568.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-582807064783356568.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582807064783356568.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582807064783356568.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582807064783356568.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-582807064783356568.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582807064783356568.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582807064783356568.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582807064783356568.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582807064783356568.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-582807064783356568.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582807064783356568.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-582807064783356568.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582807064783356568.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582807064783356568.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-582807064783356568.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582807064783356568.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-582807064783356568.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582807064783356568.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582807064783356568.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-582807064783356568.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582807064783356568.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-582807064783356568.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582807064783356568.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-582807064783356568.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582807064783356568.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582807064783356568.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582807064783356568.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582807064783356568.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582807064783356568.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582807064783356568.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582807064783356568.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582807064783356568.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582807064783356568.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582807064783356568.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582807064783356568.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582807064783356568.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582807064783356568.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582807064783356568.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582807064783356568.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582807064783356568.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582807064783356568.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-582807064783356568.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-582807064783356568.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582807064783356568.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582807064783356568.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582807064783356568.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582807064783356568.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582807064783356568.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582807064783356568.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582807064783356568.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582807064783356568.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582807064783356568.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582807064783356568.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582807064783356568.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582807064783356568.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582807064783356568.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582807064783356568.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582807064783356568.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-582807064783356568.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582807064783356568.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582807064783356568.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-582807064783356568.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582807064783356568.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582807064783356568.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582807064783356568.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582807064783356568.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-582807064783356568.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582807064783356568.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582807064783356568.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582807064783356568.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582807064783356568.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582807064783356568.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-582807064783356568.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582807064783356568.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582807064783356568 .-gp-translate-x-1\/2,.gps-582807064783356568 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-582807064783356568 .gp-visible{visibility:visible}.gps-582807064783356568 .gp-invisible{visibility:hidden}.gps-582807064783356568 .gp-absolute{position:absolute}.gps-582807064783356568 .gp-relative{position:relative}.gps-582807064783356568 .gp-left-1\/2{left:50%}.gps-582807064783356568 .gp-top-1\/2{top:50%}.gps-582807064783356568 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582807064783356568 .gp-mb-0{margin-bottom:0}.gps-582807064783356568 .gp-inline-block{display:inline-block}.gps-582807064783356568 .gp-flex{display:flex}.gps-582807064783356568 .gp-inline-flex{display:inline-flex}.gps-582807064783356568 .gp-grid{display:grid}.gps-582807064783356568 .gp-contents{display:contents}.gps-582807064783356568 .\!gp-hidden{display:none!important}.gps-582807064783356568 .gp-hidden{display:none}.gps-582807064783356568 .gp-h-auto{height:auto}.gps-582807064783356568 .gp-h-full{height:100%}.gps-582807064783356568 .gp-w-\[68px\]{width:68px}.gps-582807064783356568 .gp-w-full{width:100%}.gps-582807064783356568 .\!gp-max-w-none{max-width:none!important}.gps-582807064783356568 .gp-max-w-full{max-width:100%}.gps-582807064783356568 .gp-flex-none{flex:none}.gps-582807064783356568 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-582807064783356568 .-gp-translate-x-1\/2,.gps-582807064783356568 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582807064783356568 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-582807064783356568 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582807064783356568 .gp-flex-col{flex-direction:column}.gps-582807064783356568 .gp-items-center{align-items:center}.gps-582807064783356568 .gp-justify-center{justify-content:center}.gps-582807064783356568 .gp-overflow-hidden{overflow:hidden}.gps-582807064783356568 .gp-break-words{overflow-wrap:break-word}.gps-582807064783356568 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-582807064783356568 .gp-bg-cover{background-size:cover}.gps-582807064783356568 .gp-bg-center{background-position:50%}.gps-582807064783356568 .gp-text-center{text-align:center}.gps-582807064783356568 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-582807064783356568 .gp-no-underline{text-decoration-line:none}.gps-582807064783356568 .gp-opacity-100{opacity:1}.gps-582807064783356568 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582807064783356568 .gp-duration-200{transition-duration:.2s}.gps-582807064783356568 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582807064783356568 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-582807064783356568 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-582807064783356568 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-582807064783356568 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-582807064783356568 .tablet\:\!gp-hidden{display:none!important}.gps-582807064783356568 .tablet\:gp-hidden{display:none}.gps-582807064783356568 .tablet\:gp-h-auto{height:auto}.gps-582807064783356568 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-582807064783356568 .mobile\:\!gp-hidden{display:none!important}.gps-582807064783356568 .mobile\:gp-hidden{display:none}.gps-582807064783356568 .mobile\:gp-h-auto{height:auto}.gps-582807064783356568 .mobile\:gp-flex-none{flex:none}}.gps-582807064783356568 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-582807064783356568 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-582807064783356568 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-582807064783356568 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-582807064783356568 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFAF1","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUmRWEtx53"}' data-id="gUmRWEtx53" id="gUmRWEtx53" data-same-height-subgrid-container class="gUmRWEtx53 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:56px;--pb-mobile:var(--g-s-3xl);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFAF1;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCTSaX-Vpf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtehRSTbXz"}' data-id="gtehRSTbXz" id="gtehRSTbXz" data-same-height-subgrid-container class="gtehRSTbXz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--pl:0px;--pr:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:670px;--w-tablet:670px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSpsAOCwdg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP8ontpzZb"
        class="gP8ontpzZb"
        style="--ta:center;--ta-mobile:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909901014"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:left;--c:#545454;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP8ontpzZb_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHrtY2fGle"
        class="gHrtY2fGle"
        style="--ta:center;--ta-mobile:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909901016"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHrtY2fGle_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFmUSZuekT"}' data-id="gFmUSZuekT" id="gFmUSZuekT" data-same-height-subgrid-container class="gFmUSZuekT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--pl:0px;--pr:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:840px;--w-tablet:840%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gc3JAOXspi gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="glCHbPNzPj" class="glCHbPNzPj !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--aspect:16/9">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"16/9"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/ktsFdCND3wM?autoplay=true&state=1&mute=1&controls=1"}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url(https://i.ytimg.com/vi/ktsFdCND3wM/hqdefault.jpg);--aspect:16/9"
      >
        
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://i.ytimg.com/vi/ktsFdCND3wM/hqdefault.jpg" data-src="https://i.ytimg.com/vi/ktsFdCND3wM/hqdefault.jpg" data-srcset="https://i.ytimg.com/vi/ktsFdCND3wM/hqdefault.jpg"
      id="gp-video-glCHbPNzPj"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--ta:center" >
        <style>[data-id="gMYsApoxlb"].gp-button-base::before, [data-id="gMYsApoxlb-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      
  
    }
  
      
  [data-id="gMYsApoxlb"]:hover::before, [data-id="gMYsApoxlb-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gMYsApoxlb" dataId="gMYsApoxlb" data-state="idle" aria-label="PERFECT, I WANT IT!"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:53px;--pr:53px;--pt:14px;--pb:14px;--pl-tablet:53px;--pr-tablet:53px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:53px;--pr-mobile:53px;--pt-mobile:14px;--pb-mobile:14px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--hvr-bblr:20px;--hvr-bbrr:20px;--hvr-btlr:20px;--hvr-btrr:20px;--bgi:;--hvr-bgi:;--hvr-bg:#75B03B;--bg:#88C54C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:800;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gMYsApoxlb gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:800;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggMYsApoxlb_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gM3aRCMF-1"}' data-id="gM3aRCMF-1" id="gM3aRCMF-1" data-same-height-subgrid-container class="gM3aRCMF-1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-s);--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gCZcLv7lKp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gRtMEh4XBe"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-4px;--ta:left"
      class="gp-group/image gp-relative force-publish-1756909901121 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gRtMEh4XBe"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/12b549fc-ca4e-431e-8e2d-863e7d344ea7/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTM2LTM2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIGZpbGw9InVybCgjZy0zNi0zNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTM2IiB0bz0iMzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/12b549fc-ca4e-431e-8e2d-863e7d344ea7/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTM2LTM2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIGZpbGw9InVybCgjZy0zNi0zNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTM2IiB0bz0iMzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/12b549fc-ca4e-431e-8e2d-863e7d344ea7/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTM2LTM2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIGZpbGw9InVybCgjZy0zNi0zNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTM2IiB0bz0iMzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/12b549fc-ca4e-431e-8e2d-863e7d344ea7/-/format/auto/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gcQIQAjUAf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAMIin0222"
        class="gAMIin0222"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909901126"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAMIin0222_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-582807064783356568 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582806957543392217&sectionId=582807064783356568)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggP8ontpzZb_text","label":"ggP8ontpzZb_text","default":"<p>We Do Things Differently</p>"},{"type":"html","id":"ggHrtY2fGle_text","label":"ggHrtY2fGle_text","default":"<p>By sourcing directly from trusted, long standing suppliers and farmers to get the best ingredients.</p>"},{"type":"html","id":"ggMYsApoxlb_label","label":"ggMYsApoxlb_label","default":"PERFECT, I WANT IT!"},{"type":"html","id":"ggAMIin0222_text","label":"ggAMIin0222_text","default":"<p>100% Money-Back Guarantee</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  