
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582807064800134105.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-582807064800134105.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-582807064800134105.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-582807064800134105.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582807064800134105.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582807064800134105.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582807064800134105.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582807064800134105.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582807064800134105.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582807064800134105.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582807064800134105.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582807064800134105.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582807064800134105.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582807064800134105.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582807064800134105.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582807064800134105.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582807064800134105.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582807064800134105.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582807064800134105.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582807064800134105.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582807064800134105.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582807064800134105.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582807064800134105.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582807064800134105.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-582807064800134105.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582807064800134105.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582807064800134105.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582807064800134105.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582807064800134105.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-582807064800134105.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582807064800134105.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582807064800134105.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582807064800134105.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582807064800134105.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582807064800134105.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582807064800134105.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582807064800134105.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582807064800134105.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582807064800134105.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-582807064800134105.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582807064800134105.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582807064800134105.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582807064800134105.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582807064800134105.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582807064800134105.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582807064800134105.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582807064800134105.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582807064800134105.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582807064800134105.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582807064800134105.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582807064800134105.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582807064800134105.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582807064800134105.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582807064800134105.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582807064800134105.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-582807064800134105.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-582807064800134105.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582807064800134105.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582807064800134105.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-582807064800134105.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582807064800134105.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582807064800134105.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582807064800134105.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582807064800134105.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582807064800134105.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582807064800134105.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582807064800134105.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582807064800134105.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582807064800134105.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582807064800134105.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582807064800134105.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582807064800134105.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582807064800134105 .-gp-rotate-90,.gps-582807064800134105 .gp-rotate-180,.gps-582807064800134105 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-582807064800134105 .gp-relative{position:relative}.gps-582807064800134105 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582807064800134105 .gp-mb-0{margin-bottom:0}.gps-582807064800134105 .gp-inline-block{display:inline-block}.gps-582807064800134105 .gp-flex{display:flex}.gps-582807064800134105 .gp-inline-flex{display:inline-flex}.gps-582807064800134105 .gp-grid{display:grid}.gps-582807064800134105 .gp-contents{display:contents}.gps-582807064800134105 .\!gp-hidden{display:none!important}.gps-582807064800134105 .gp-hidden{display:none}.gps-582807064800134105 .gp-h-auto{height:auto}.gps-582807064800134105 .gp-h-full{height:100%}.gps-582807064800134105 .gp-min-h-0{min-height:0}.gps-582807064800134105 .gp-w-full{width:100%}.gps-582807064800134105 .gp-max-w-full{max-width:100%}.gps-582807064800134105 .gp-flex-none{flex:none}.gps-582807064800134105 .-gp-rotate-90{--tw-rotate:-90deg}.gps-582807064800134105 .-gp-rotate-90,.gps-582807064800134105 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582807064800134105 .gp-rotate-180{--tw-rotate:180deg}.gps-582807064800134105 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-582807064800134105 .gp-cursor-pointer{cursor:pointer}.gps-582807064800134105 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-582807064800134105 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582807064800134105 .gp-flex-col{flex-direction:column}.gps-582807064800134105 .gp-items-center{align-items:center}.gps-582807064800134105 .gp-justify-center{justify-content:center}.gps-582807064800134105 .gp-gap-\[16px\]{gap:16px}.gps-582807064800134105 .gp-overflow-hidden{overflow:hidden}.gps-582807064800134105 .gp-overflow-clip{overflow:clip}.gps-582807064800134105 .gp-break-all{word-break:break-all}.gps-582807064800134105 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582807064800134105 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582807064800134105 .gp-duration-200{transition-duration:.2s}.gps-582807064800134105 .gp-duration-500{transition-duration:.5s}.gps-582807064800134105 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-582807064800134105 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-582807064800134105 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-582807064800134105 .tablet\:\!gp-hidden{display:none!important}.gps-582807064800134105 .tablet\:gp-hidden{display:none}.gps-582807064800134105 .tablet\:gp-h-auto{height:auto}.gps-582807064800134105 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-582807064800134105 .mobile\:\!gp-hidden{display:none!important}.gps-582807064800134105 .mobile\:gp-hidden{display:none}.gps-582807064800134105 .mobile\:gp-h-auto{height:auto}.gps-582807064800134105 .mobile\:gp-flex-none{flex:none}}.gps-582807064800134105 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-582807064800134105 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-582807064800134105 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFk55055vK"}' data-id="gFk55055vK" id="gFk55055vK" data-same-height-subgrid-container class="gFk55055vK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:15px;--pr:15px;--pt-mobile:56px;--pl-mobile:15px;--pb-mobile:var(--g-s-3xl);--pr-mobile:15px;--pt-tablet:64px;--pl-tablet:15px;--pb-tablet:var(--g-s-3xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPcUWAet6z gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"goSTKy148T"}' data-id="goSTKy148T" id="goSTKy148T" data-same-height-subgrid-container class="goSTKy148T gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gE-ATolrjT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"goZNiIseyz"}' data-id="goZNiIseyz" id="goZNiIseyz" data-same-height-subgrid-container class="goZNiIseyz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gu0F7q4LYr gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxnefIIGOL"
        class="gxnefIIGOL"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904843"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#545454;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxnefIIGOL_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPcensburp"
        class="gPcensburp"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-4xl);--mb-mobile:var(--g-s-2xl);--mb-tablet:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904844"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPcensburp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g0G1aeFzn4"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-tablet:var(--g-s-xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1756909904845 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g0G1aeFzn4"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/35ce0f76-a17c-4084-9e3f-9517c5f6d82f/-/format/auto/-/preview/800x800/-/quality/lighter/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjU2MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTU2MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjU2MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjU2MyIgZmlsbD0idXJsKCNnLTgwMC01NjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/35ce0f76-a17c-4084-9e3f-9517c5f6d82f/-/format/auto/-/preview/800x800/-/quality/lighter/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjU2MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTU2MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjU2MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjU2MyIgZmlsbD0idXJsKCNnLTgwMC01NjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/35ce0f76-a17c-4084-9e3f-9517c5f6d82f/-/format/auto/-/preview/800x800/-/quality/lighter/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjU2MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTU2MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjU2MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjU2MyIgZmlsbD0idXJsKCNnLTgwMC01NjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/35ce0f76-a17c-4084-9e3f-9517c5f6d82f/-/format/auto/-/preview/800x800/-/quality/lighter/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gZYMLm6Hv5 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l)" class="gVKRXtcex- ">
      
    <gp-accordion data-id="gVKRXtcex-" class="gp-flex gp-flex-col gp-w-full" style="--gg:24px;border-radius:inherit"
      gp-data='{"uid":"gVKRXtcex-","setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" data-name=\"plus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" data-name=\"minus-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gVKRXtcex-","childListNumber":[],"chidlrenUid":["gxtEyBqHv3","g96JNH4gJu","g2qgPqnQgT","gcflSl0y4l","gHJaF0rJ59"]},"styles":{"color":{"normal":"#FFECAA"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"18px"}}},"textColor":{"normal":"#545454"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"24px","padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"18px","left":"24px","right":"24px","top":"18px","type":"custom"}},"mobile":{"padding":{"bottom":"18px","left":"24px","right":"24px","top":"18px","type":"custom"}},"tablet":{"padding":{"bottom":"18px","left":"24px","right":"24px","top":"18px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#545454;--icon-expand-hover-color:#FFECAA;--icon-expand-active-color:#FFECAA;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:3px 3px 3px 3px;--bc:#FFECAA;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px">
    <div data-index="0" class="gVKRXtcex- gp-overflow-hidden gp-child-item-gVKRXtcex- gp-accordion-item">
      <div aria-hidden uid="gxtEyBqHv3" id="gxtEyBqHv3" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gVKRXtcex- gp-accordion-item-gVKRXtcex--0" style="--pl:24px;--pr:24px;--pt:18px;--pb:18px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:18px;--pb-tablet:18px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:18px;--pb-mobile:18px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFECAA;width:16px;height:16px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#545454;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904846"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVKRXtcex-_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gejADacyhm gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4mkeFYDxj"
        class="g4mkeFYDxj"
        style="--ta:left;--bs:solid;--bw:3px 0px 0px 0px;--bc:#E4EADA;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904847"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4mkeFYDxj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#545454;--icon-expand-hover-color:#FFECAA;--icon-expand-active-color:#FFECAA;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:3px 3px 3px 3px;--bc:#FFECAA;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px">
    <div data-index="1" class="gVKRXtcex- gp-overflow-hidden gp-child-item-gVKRXtcex- gp-accordion-item">
      <div aria-hidden uid="g96JNH4gJu" id="g96JNH4gJu" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gVKRXtcex- gp-accordion-item-gVKRXtcex--1" style="--pl:24px;--pr:24px;--pt:18px;--pb:18px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:18px;--pb-tablet:18px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:18px;--pb-mobile:18px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFECAA;width:16px;height:16px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#545454;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904849"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVKRXtcex-_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gM1oE_O_yx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gArqt35rXw"
        class="gArqt35rXw"
        style="--ta:left;--bs:solid;--bw:3px 0px 0px 0px;--bc:#E4EADA;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904850"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggArqt35rXw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#545454;--icon-expand-hover-color:#FFECAA;--icon-expand-active-color:#FFECAA;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:3px 3px 3px 3px;--bc:#FFECAA;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px">
    <div data-index="2" class="gVKRXtcex- gp-overflow-hidden gp-child-item-gVKRXtcex- gp-accordion-item">
      <div aria-hidden uid="g2qgPqnQgT" id="g2qgPqnQgT" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gVKRXtcex- gp-accordion-item-gVKRXtcex--2" style="--pl:24px;--pr:24px;--pt:18px;--pb:18px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:18px;--pb-tablet:18px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:18px;--pb-mobile:18px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFECAA;width:16px;height:16px"
            data-index="2"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#545454;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904851"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVKRXtcex-_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gSJpuhqaP- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvBAF-ZYof"
        class="gvBAF-ZYof"
        style="--ta:left;--bs:solid;--bw:3px 0px 0px 0px;--bc:#E4EADA;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904852"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvBAF-ZYof_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#545454;--icon-expand-hover-color:#FFECAA;--icon-expand-active-color:#FFECAA;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:3px 3px 3px 3px;--bc:#FFECAA;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px">
    <div data-index="3" class="gVKRXtcex- gp-overflow-hidden gp-child-item-gVKRXtcex- gp-accordion-item">
      <div aria-hidden uid="gcflSl0y4l" id="gcflSl0y4l" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gVKRXtcex- gp-accordion-item-gVKRXtcex--3" style="--pl:24px;--pr:24px;--pt:18px;--pb:18px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:18px;--pb-tablet:18px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:18px;--pb-mobile:18px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFECAA;width:16px;height:16px"
            data-index="3"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#545454;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904853"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVKRXtcex-_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gYHgEsGrD_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTisBz3uC-"
        class="gTisBz3uC-"
        style="--ta:left;--bs:solid;--bw:3px 0px 0px 0px;--bc:#E4EADA;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904854"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTisBz3uC-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#545454;--icon-expand-hover-color:#FFECAA;--icon-expand-active-color:#FFECAA;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:3px 3px 3px 3px;--bc:#FFECAA;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px">
    <div data-index="4" class="gVKRXtcex- gp-overflow-hidden gp-child-item-gVKRXtcex- gp-accordion-item">
      <div aria-hidden uid="gHJaF0rJ59" id="gHJaF0rJ59" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gVKRXtcex- gp-accordion-item-gVKRXtcex--4" style="--pl:24px;--pr:24px;--pt:18px;--pb:18px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:18px;--pb-tablet:18px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:18px;--pb-mobile:18px;--fd:row-reverse;--jc:space-between;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#FFECAA;width:16px;height:16px"
            data-index="4"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" data-name="plus-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#545454;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904855"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVKRXtcex-_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gYLXxHkK_9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7cbJWInLM"
        class="g7cbJWInLM"
        style="--ta:left;--bs:solid;--bw:3px 0px 0px 0px;--bc:#E4EADA;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909904856"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#74846F;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7cbJWInLM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-582807064800134105 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582806957543392217&sectionId=582807064800134105)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggxnefIIGOL_text","label":"ggxnefIIGOL_text","default":"<p>Your Questions, Answered.</p>"},{"type":"html","id":"ggPcensburp_text","label":"ggPcensburp_text","default":"<p>Still have questions? Call us at <span style=\"color:#FFA318;\">(321) 123-4567</span> &nbsp;or email us at <span style=\"color:#88C54C;\">gemyummy@gmail.com</span></p>"},{"type":"html","id":"ggVKRXtcex-_childItem_0","label":"ggVKRXtcex-_childItem_0","default":"Is your snack suitable for vegetarians or vegans?"},{"type":"html","id":"ggVKRXtcex-_childItem_1","label":"ggVKRXtcex-_childItem_1","default":"Do you use any GM ingredients in your foods?"},{"type":"html","id":"ggVKRXtcex-_childItem_2","label":"ggVKRXtcex-_childItem_2","default":"Is it suitable for kids with allergies?"},{"type":"html","id":"ggVKRXtcex-_childItem_3","label":"ggVKRXtcex-_childItem_3","default":"Are your products Gluten Free?"},{"type":"html","id":"ggVKRXtcex-_childItem_4","label":"ggVKRXtcex-_childItem_4","default":"How do I store your pouches?"},{"type":"html","id":"gg4mkeFYDxj_text","label":"gg4mkeFYDxj_text","default":"<p>Yes, this food is suitable for both vegetarians and vegans. All of our products contain no animal or animal-derived products.&nbsp;</p>"},{"type":"html","id":"ggArqt35rXw_text","label":"ggArqt35rXw_text","default":"<p>None of the ingredients we use to make our foods contain Genetically Modified Organisms (GMO), as these are not permitted under organic standards.</p>"},{"type":"html","id":"ggvBAF-ZYof_text","label":"ggvBAF-ZYof_text","default":"<p>Yes, all of our products are Free from the Top 8 Allergens (peanuts, tree nuts, eggs, wheat, milk, soy, fish, shellfish), and we take our commitment to being allergy friendly a little farther by also making our products mustard, sulfite, and sesame free. Our products are produced in a Top 8 Allergen Free facility, and we test finished product for allergens (peanut and gluten up to 10ppm).</p>"},{"type":"html","id":"ggTisBz3uC-_text","label":"ggTisBz3uC-_text","default":"<p>Yes, absolutely! Our Oats and Oat Flour are Avena Foods’ Purity Protocol Oats. Purity Protocol is a farm-to-plate method of ensuring that oats are gluten-free and not contaminated with any gluten-containing grains. Avena Purity Protocol oats are non-GMO and certified gluten-free! In addition, our products are made without any other source of gluten. They are also produced in a dedicated gluten-free facility and we perform gluten rapid tests on every batch of finished product.&nbsp;</p>"},{"type":"html","id":"gg7cbJWInLM_text","label":"gg7cbJWInLM_text","default":"<p>We recommend storing our pouches in a cool dry place, and once opened keep refrigerated for up to 48 hours.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  