
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584906323364479576.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584906323364479576.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-584906323364479576.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584906323364479576.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584906323364479576.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584906323364479576.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-584906323364479576.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584906323364479576.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584906323364479576.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584906323364479576.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584906323364479576.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-584906323364479576.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584906323364479576.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-584906323364479576.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584906323364479576.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584906323364479576.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-584906323364479576.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584906323364479576.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-584906323364479576.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-584906323364479576.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-584906323364479576.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584906323364479576.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584906323364479576.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-584906323364479576.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584906323364479576.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-584906323364479576.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584906323364479576.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-584906323364479576.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584906323364479576.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584906323364479576.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584906323364479576.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584906323364479576.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584906323364479576.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584906323364479576.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584906323364479576.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584906323364479576.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584906323364479576.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584906323364479576.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584906323364479576.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584906323364479576.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584906323364479576.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584906323364479576.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584906323364479576.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584906323364479576.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584906323364479576.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-584906323364479576.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-584906323364479576.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584906323364479576.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584906323364479576.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584906323364479576.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584906323364479576.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584906323364479576.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584906323364479576.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584906323364479576.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584906323364479576.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584906323364479576.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-584906323364479576.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584906323364479576.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-584906323364479576.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584906323364479576.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-584906323364479576.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584906323364479576.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584906323364479576.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584906323364479576.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584906323364479576.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-584906323364479576.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-584906323364479576.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584906323364479576.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584906323364479576.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584906323364479576.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584906323364479576.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-584906323364479576.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-584906323364479576.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584906323364479576.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584906323364479576.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584906323364479576.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584906323364479576.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584906323364479576.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-584906323364479576.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-584906323364479576.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584906323364479576.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584906323364479576.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584906323364479576.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584906323364479576.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-584906323364479576.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-584906323364479576.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-584906323364479576 .gp-relative{position:relative}.gps-584906323364479576 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584906323364479576 .gp-mb-0{margin-bottom:0}.gps-584906323364479576 .gp-inline-block{display:inline-block}.gps-584906323364479576 .gp-flex{display:flex}.gps-584906323364479576 .gp-inline-flex{display:inline-flex}.gps-584906323364479576 .gp-grid{display:grid}.gps-584906323364479576 .gp-contents{display:contents}.gps-584906323364479576 .\!gp-hidden{display:none!important}.gps-584906323364479576 .gp-hidden{display:none}.gps-584906323364479576 .gp-h-full{height:100%}.gps-584906323364479576 .gp-w-full{width:100%}.gps-584906323364479576 .gp-max-w-full{max-width:100%}.gps-584906323364479576 .gp-flex-1{flex:1 1 0%}.gps-584906323364479576 .gp-cursor-pointer{cursor:pointer}.gps-584906323364479576 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584906323364479576 .gp-flex-col{flex-direction:column}.gps-584906323364479576 .gp-items-center{align-items:center}.gps-584906323364479576 .gp-justify-center{justify-content:center}.gps-584906323364479576 .gp-overflow-hidden{overflow:hidden}.gps-584906323364479576 .gp-break-words{overflow-wrap:break-word}.gps-584906323364479576 .gp-text-center{text-align:center}.gps-584906323364479576 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-584906323364479576 .gp-no-underline{text-decoration-line:none}.gps-584906323364479576 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584906323364479576 .gp-duration-200{transition-duration:.2s}.gps-584906323364479576 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584906323364479576 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-584906323364479576 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-584906323364479576 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-584906323364479576 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-584906323364479576 .tablet\:\!gp-hidden{display:none!important}.gps-584906323364479576 .tablet\:gp-hidden{display:none}.gps-584906323364479576 .tablet\:gp-h-full{height:100%}.gps-584906323364479576 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-584906323364479576 .mobile\:\!gp-hidden{display:none!important}.gps-584906323364479576 .mobile\:gp-hidden{display:none}.gps-584906323364479576 .mobile\:gp-h-full{height:100%}.gps-584906323364479576 .mobile\:gp-flex-1{flex:1 1 0%}}.gps-584906323364479576 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-584906323364479576 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFE6E8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5oXh8buVw"}' data-id="g5oXh8buVw" id="g5oXh8buVw" data-same-height-subgrid-container class="g5oXh8buVw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:28px;--pt:18px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--mt-mobile:16px;--pt-mobile:18px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--mt-tablet:28px;--pt-tablet:18px;--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFE6E8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGkqAcwynY gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gedXHjFtVj"
        class="gedXHjFtVj"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758405617472"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--ls:0.6px;--size:35px;--size-tablet:32px;--size-mobile:29px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--weight:bold;--c:RGBA(76, 9, 9, 0.89);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggedXHjFtVj_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"g7CKo-JXaz"}' data-id="g7CKo-JXaz" id="g7CKo-JXaz" data-same-height-subgrid-container class="g7CKo-JXaz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHYZ1Lt8XN gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gHTOK2cITE gp-cursor-pointer gp-custom-code">
      <div>
    <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefícios - Esquerda</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: 'Arial', sans-serif;
            background: transparent;
            padding: 20px;
        }
        .gHTOK2cITE .benefits-container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 350px;
            margin: 0 auto;
            cursor: default !important;
        }
        .gHTOK2cITE .benefit-item {
            background: white;
            padding: 30px 25px;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.15);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 0.3s ease;
            border: 2px solid transparent;
            opacity: 0;
            transform: translateY(30px);
            animation: slideUp 0.8s ease-out forwards;
            min-height: 160px;
            height: 160px;
        }
        .gHTOK2cITE .benefit-item:nth-child(1) { animation-delay: 0.2s; }
        .gHTOK2cITE .benefit-item:nth-child(2) { animation-delay: 0.4s; }
        .gHTOK2cITE .benefit-item:nth-child(3) { animation-delay: 0.6s; }
       
        .gHTOK2cITE .benefit-icon {
            width: 70px;
            height: 70px;
            background: linear-gradient(135deg, #f67a85, #e04760);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            font-size: 2rem;
            color: white;
            box-shadow: 0 5px 15px rgba(224, 71, 96, 0.3);
            flex-shrink: 0;
        }
        .gHTOK2cITE .benefit-title {
            font-family: 'Source Sans 3', sans-serif;
            font-size: 26px;
            color: #e04760;
            font-weight: 700;
            margin-bottom: 12px;
            line-height: 1.3;
            flex-shrink: 0;
        }
        .gHTOK2cITE .benefit-description {
            font-family: 'Source Sans 3', sans-serif;
            font-size: 20px;
            color: #000;
            font-weight: 700;
            line-height: 1.5;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
        @keyframes slideUp {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        @media (max-width: 768px) {
            .gHTOK2cITE .benefits-container {
                max-width: 100%;
            }
            .gHTOK2cITE .benefit-item {
                padding: 25px 20px;
                min-height: 140px;
                height: 140px;
            }
            .gHTOK2cITE .benefit-icon {
                width: 60px;
                height: 60px;
                font-size: 1.5rem;
            }
            .gHTOK2cITE .benefit-title {
                font-size: 22px;
            }
            .gHTOK2cITE .benefit-description {
                font-size: 18px;
            }
        }
    </style>
</head>
<body>
    <div class="gHTOK2cITE">
        <div class="benefits-container">
            <div class="benefit-item">
                <div class="benefit-title">Libido Restaurada</div>
                <div class="benefit-description">Desejo e prazer recuperados</div>
            </div>
            <div class="benefit-item">
                <div class="benefit-title">Autoestima Nas Alturas</div>
                <div class="benefit-description">Redescubra sua confiança feminina</div>
            </div>
            <div class="benefit-item">
                <div class="benefit-title">Prazer Em Cada Toque</div>
                <div class="benefit-description">Seu corpo volta a responder como antes</div>
            </div>
        </div>
    </div>
</body>
</html>
    </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g8CrPujge8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gSrlMHbwLx"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758405617476 gp-flex-1 gp-h-full mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gSrlMHbwLx"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_582392123966358168-aa3b10a2-e834-4cdb-8350-1de435509e76.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_582392123966358168-74946b72-2cf7-4dbd-bb97-c0054433e3ba.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTgwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0idXJsKCNnLTUwMC04MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_582392123966358168-74946b72-2cf7-4dbd-bb97-c0054433e3ba.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTgwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0idXJsKCNnLTUwMC04MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_582392123966358168-74946b72-2cf7-4dbd-bb97-c0054433e3ba.png" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g_T1cBvZpn gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gDXgrGPlGt gp-cursor-pointer gp-custom-code">
      <div>
    <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefícios - Direita</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: 'Arial', sans-serif;
            background: transparent;
            padding: 20px;
        }
        .gDXgrGPlGt .benefits-container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 350px;
            margin: 0 auto;
            cursor: default !important;
        }
        .gDXgrGPlGt .benefit-item {
            background: white;
            padding: 30px 25px;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.15);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 0.3s ease;
            border: 2px solid transparent;
            opacity: 0;
            transform: translateY(30px);
            animation: slideUp 0.8s ease-out forwards;
            min-height: 160px;
            height: 160px;
        }
        .gDXgrGPlGt .benefit-item:nth-child(1) { animation-delay: 0.8s; }
        .gDXgrGPlGt .benefit-item:nth-child(2) { animation-delay: 1s; }
        .gDXgrGPlGt .benefit-item:nth-child(3) { animation-delay: 1.2s; }
     
        .gDXgrGPlGt .benefit-icon {
            width: 70px;
            height: 70px;
            background: linear-gradient(135deg, #f67a85, #e04760);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            font-size: 2rem;
            color: white;
            box-shadow: 0 5px 15px rgba(224, 71, 96, 0.3);
            flex-shrink: 0;
        }
        .gDXgrGPlGt .benefit-title {
            font-family: 'Source Sans 3', sans-serif;
            font-size: 26px;
            color: #e04760;
            font-weight: 700;
            margin-bottom: 12px;
            line-height: 1.3;
            flex-shrink: 0;
        }
        .gDXgrGPlGt .benefit-description {
            font-family: 'Source Sans 3', sans-serif;
            font-size: 20px;
            color: #000;
            font-weight: 700;
            line-height: 1.5;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
        @keyframes slideUp {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        @media (max-width: 768px) {
            .gDXgrGPlGt .benefits-container {
                max-width: 100%;
            }
            .gDXgrGPlGt .benefit-item {
                padding: 25px 20px;
                min-height: 140px;
                height: 140px;
            }
            .gDXgrGPlGt .benefit-icon {
                width: 60px;
                height: 60px;
                font-size: 1.5rem;
            }
            .gDXgrGPlGt .benefit-title {
                font-size: 22px;
            }
            .gDXgrGPlGt .benefit-description {
                font-size: 18px;
            }
        }
    </style>
</head>
<body>
    <div class="gDXgrGPlGt">
        <div class="benefits-container">
            <div class="benefit-item">
                <div class="benefit-title">Reconecção com o Parceiro</div>
                <div class="benefit-description">A intimidade volta a ser prazerosa para vocês dois</div>
            </div>
            <div class="benefit-item">
                <div class="benefit-title">Bem-estar Emocional</div>
                <div class="benefit-description">Equilíbrio e leveza no dia a dia</div>
            </div>
            <div class="benefit-item">
                <div class="benefit-title">Resultados Naturais e Reais</div>
                <div class="benefit-description">Fórmula segura, sem hormônios</div>
            </div>
        </div>
    </div>
</body>
</html>
    </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#g69rGkwbkf","title":"Section 13","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:50px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:18px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:50px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gonuLfrIdN"].gp-button-base::before, [data-id="gonuLfrIdN-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
  
    }
  
      
  [data-id="gonuLfrIdN"]:hover::before, [data-id="gonuLfrIdN-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#g69rGkwbkf
            target=undefined
          ></a>
        <a
          data-id="gonuLfrIdN" dataId="gonuLfrIdN" data-state="idle" aria-label="<p><span style='font-size:25px;'><strong>COMPRAR AGORA</strong></span></p>"
          
          href="#g69rGkwbkf" target
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--hvr-bblr:16px;--hvr-bbrr:16px;--hvr-btlr:16px;--hvr-btrr:16px;--bgi:;--hvr-bgi:;--hvr-bg:rgba(76, 9, 9, 0.7);--bg:#4C0909;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--ls:1px;--size:32px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%"
          class="gonuLfrIdN gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--ls:1px;--size:32px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggonuLfrIdN_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"#gLfQbNhKDH","title":"Section 14","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="ghwFK40Pzj"].gp-button-base::before, [data-id="ghwFK40Pzj-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      
  
    }
  
      
  [data-id="ghwFK40Pzj"]:hover::before, [data-id="ghwFK40Pzj-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gLfQbNhKDH
            target=undefined
          ></a>
        <a
          data-id="ghwFK40Pzj" dataId="ghwFK40Pzj" data-state="idle" aria-label="<p><span style='font-size:25px;'><strong>COMPRAR AGORA</strong></span></p>"
          
          href="#gLfQbNhKDH" target
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--hvr-bblr:12px;--hvr-bbrr:12px;--hvr-btlr:12px;--hvr-btrr:12px;--bgi:;--hvr-bgi:;--hvr-bg:#F67A85;--bg:RGBA(76, 9, 9, 0.89);--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--ls:1px;--size:27px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%"
          class="ghwFK40Pzj gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--ls:1px;--size:27px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gghwFK40Pzj_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky462EK9C0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7GEK9C0.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wIaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wsaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wMaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wwaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wAaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wEaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3w8aZejf5Hc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wIaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wsaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wMaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wwaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wAaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3wEaZejf5HdF8Q.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpStKy2OAdR1K-IwhWudF-R3w8aZejf5Hc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-584906323364479576 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=584906323179602520&sectionId=584906323364479576)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggedXHjFtVj_text","label":"ggedXHjFtVj_text","default":"<span style=\"font-size:35px;\">O QUE VOCÊ VAI SENTIR COM TESTO BOOST</span>"},{"type":"html","id":"ggonuLfrIdN_label","label":"ggonuLfrIdN_label","default":"<p><span style=\"font-size:25px;\"><strong>COMPRAR AGORA</strong></span></p>"},{"type":"html","id":"gghwFK40Pzj_label","label":"gghwFK40Pzj_label","default":"<p><span style=\"font-size:25px;\"><strong>COMPRAR AGORA</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  