
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596477063306937324.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596477063306937324.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596477063306937324.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596477063306937324.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596477063306937324.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596477063306937324.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596477063306937324.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596477063306937324.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596477063306937324.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596477063306937324.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596477063306937324.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596477063306937324.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596477063306937324.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596477063306937324.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596477063306937324.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596477063306937324.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-596477063306937324.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596477063306937324.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596477063306937324.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596477063306937324.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596477063306937324.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596477063306937324.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596477063306937324.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596477063306937324.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596477063306937324.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596477063306937324.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596477063306937324.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596477063306937324.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596477063306937324.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596477063306937324.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596477063306937324.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596477063306937324.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596477063306937324.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596477063306937324.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596477063306937324.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596477063306937324.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596477063306937324.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596477063306937324.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596477063306937324.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596477063306937324.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596477063306937324.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596477063306937324.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596477063306937324.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-596477063306937324.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596477063306937324.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596477063306937324.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596477063306937324.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596477063306937324.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596477063306937324.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596477063306937324.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-596477063306937324.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596477063306937324.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596477063306937324.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-596477063306937324.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596477063306937324.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596477063306937324.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-596477063306937324.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-596477063306937324.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596477063306937324.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596477063306937324.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-596477063306937324.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596477063306937324.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-596477063306937324.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596477063306937324.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596477063306937324.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-596477063306937324.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596477063306937324.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-596477063306937324.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-596477063306937324.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-596477063306937324.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-596477063306937324.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-596477063306937324.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-596477063306937324.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-596477063306937324.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-596477063306937324.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-596477063306937324.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-596477063306937324.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-596477063306937324.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596477063306937324.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596477063306937324.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596477063306937324.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-596477063306937324.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-596477063306937324.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596477063306937324.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596477063306937324.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-596477063306937324.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-596477063306937324.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-596477063306937324.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596477063306937324.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596477063306937324.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596477063306937324.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596477063306937324.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-596477063306937324.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596477063306937324.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596477063306937324.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-596477063306937324 .gp-relative{position:relative}.gps-596477063306937324 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596477063306937324 .gp-mb-0{margin-bottom:0}.gps-596477063306937324 .gp-inline-block{display:inline-block}.gps-596477063306937324 .gp-flex{display:flex}.gps-596477063306937324 .gp-inline-flex{display:inline-flex}.gps-596477063306937324 .gp-grid{display:grid}.gps-596477063306937324 .gp-contents{display:contents}.gps-596477063306937324 .\!gp-hidden{display:none!important}.gps-596477063306937324 .gp-hidden{display:none}.gps-596477063306937324 .gp-h-auto{height:auto}.gps-596477063306937324 .gp-h-full{height:100%}.gps-596477063306937324 .gp-w-full{width:100%}.gps-596477063306937324 .gp-max-w-full{max-width:100%}.gps-596477063306937324 .gp-flex-none{flex:none}.gps-596477063306937324 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596477063306937324 .gp-flex-col{flex-direction:column}.gps-596477063306937324 .gp-items-center{align-items:center}.gps-596477063306937324 .gp-justify-center{justify-content:center}.gps-596477063306937324 .gp-overflow-hidden{overflow:hidden}.gps-596477063306937324 .gp-leading-\[0\]{line-height:0}.gps-596477063306937324 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-596477063306937324 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596477063306937324 .gp-duration-200{transition-duration:.2s}.gps-596477063306937324 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596477063306937324 .tablet\:\!gp-hidden{display:none!important}.gps-596477063306937324 .tablet\:gp-hidden{display:none}.gps-596477063306937324 .tablet\:gp-h-auto{height:auto}.gps-596477063306937324 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-596477063306937324 .mobile\:\!gp-hidden{display:none!important}.gps-596477063306937324 .mobile\:gp-hidden{display:none}.gps-596477063306937324 .mobile\:gp-h-auto{height:auto}.gps-596477063306937324 .mobile\:gp-flex-none{flex:none}}.gps-596477063306937324 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-596477063306937324 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-596477063306937324 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-596477063306937324 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-596477063306937324 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxm7FEN.ttf) format('truetype');
}


@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnEGE.ttf) format('truetype');
}


@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtgFgEGE.ttf) format('truetype');
}
@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/instrumentsans/v4/pximypc9vsFDm051Uf6KVwgkfoSxQ0GsQv8ToedPibnr-yp2JGEJOH9npSTF-Qf1.ttf) format('truetype');
}
@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/instrumentsans/v4/pximypc9vsFDm051Uf6KVwgkfoSxQ0GsQv8ToedPibnr-yp2JGEJOH9npSQi_gf1.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8KyK61EN.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsPEfkCBgv"}' data-id="gsPEfkCBgv" id="gsPEfkCBgv" data-same-height-subgrid-container class="gsPEfkCBgv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pb-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZ6G62zV5A gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7g3xv9gU8"
        class="g7g3xv9gU8"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:90%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:40px;--size-tablet:32px;--size-mobile:25px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:1px;--weight:bold;--c:#E04760;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7g3xv9gU8_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"g5CR-0Mcr6"}' data-id="g5CR-0Mcr6" id="g5CR-0Mcr6" data-same-height-subgrid-container class="g5CR-0Mcr6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3iSCd6pVU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnftU-e9ap"
        class="gnftU-e9ap"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:90%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:500;--size:20px;--size-tablet:14px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:130%;--ls:1px;--ls-tablet:1px;--ls-mobile:1px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnftU-e9ap_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="goOYTdWUyQ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"#FFF9FA","preload":false,"type":"color"}},"uid":"gqh_9tvtuP"}' data-id="gqh_9tvtuP" id="gqh_9tvtuP" data-same-height-subgrid-container class="gqh_9tvtuP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:16px;--bbrr-mobile:16px;--btlr-mobile:16px;--btrr-mobile:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mt-mobile:98px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:85%;--h:auto;--bgc-mobile:#FFF9FA;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_sLOGN48F gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gi0TJ13R56"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:-182px;--mb-mobile:11px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769883424140 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gi0TJ13R56"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "hightlight_2_tiny_2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODY0IiBoZWlnaHQ9IjExODQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTg2NC0xMTg0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4NjQiIGhlaWdodD0iMTE4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODY0IiBoZWlnaHQ9IjExODQiIGZpbGw9InVybCgjZy04NjQtMTE4NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTg2NCIgdG89Ijg2NCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Design_sem_nome_66.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Design_sem_nome_66.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Design_sem_nome_66.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"#FFF9FA","preload":false,"type":"color"}},"uid":"gij1MVaXRU"}' data-id="gij1MVaXRU" id="gij1MVaXRU" data-same-height-subgrid-container class="gij1MVaXRU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:3px 3px 3px 3px;--bc:var(--g-c-line-3, line-3);--bc-mobile:#FFE6E8;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:16px;--bbrr-mobile:16px;--btlr-mobile:16px;--btrr-mobile:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mt-mobile:-40px;--mb-mobile:10px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--of-mobile:hidden;--bgc-mobile:#FFF9FA;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJ5-o49xVU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g2IEKpHg2H"}' data-id="g2IEKpHg2H" id="g2IEKpHg2H" data-same-height-subgrid-container class="g2IEKpHg2H gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 1fr) minmax(0, 11fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g3p_SewMEt gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gVIKYiZ2I5" class="gp-leading-[0] gVIKYiZ2I5" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gVIKYiZ2I5" class="icon-wrapper gp-inline-flex gp-overflow-hidden gVIKYiZ2I5 " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="check-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045514088">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g-eg5cj5en gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gODOqFgTqs"
        class="gODOqFgTqs"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:40px;--size-tablet:32px;--size-mobile:17px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:1px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggODOqFgTqs_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcRblPFt9r"
        class="gcRblPFt9r"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:1px;--ls-tablet:1px;--ls-mobile:0px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcRblPFt9r_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"#FFF9FA","preload":false,"type":"color"}},"uid":"gk4JBKaGkQ"}' data-id="gk4JBKaGkQ" id="gk4JBKaGkQ" data-same-height-subgrid-container class="gk4JBKaGkQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:3px 3px 3px 3px;--bc:var(--g-c-line-3, line-3);--bc-mobile:#FFE6E8;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:16px;--bbrr-mobile:16px;--btlr-mobile:16px;--btrr-mobile:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:10px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--of-mobile:hidden;--bgc-mobile:#FFF9FA;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g5eHZ66-qL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gfN2dzqw3_"}' data-id="gfN2dzqw3_" id="gfN2dzqw3_" data-same-height-subgrid-container class="gfN2dzqw3_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 1fr) minmax(0, 11fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="grvh6TfIIG gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gIFlbPWgcx" class="gp-leading-[0] gIFlbPWgcx" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gIFlbPWgcx" class="icon-wrapper gp-inline-flex gp-overflow-hidden gIFlbPWgcx " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="check-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045514088">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="ggstsre4TD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUMOd8pg6l"
        class="gUMOd8pg6l"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:40px;--size-tablet:32px;--size-mobile:17px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:1px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUMOd8pg6l_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfUMe2WOr3"
        class="gfUMe2WOr3"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:Assistant, var(--g-font-body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:1px;--ls-tablet:1px;--ls-mobile:0px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfUMe2WOr3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"#FFF9FA","preload":false,"type":"color"}},"uid":"gNAYW2Gug2"}' data-id="gNAYW2Gug2" id="gNAYW2Gug2" data-same-height-subgrid-container class="gNAYW2Gug2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:3px 3px 3px 3px;--bc:var(--g-c-line-3, line-3);--bc-mobile:#FFE6E8;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:16px;--bbrr-mobile:16px;--btlr-mobile:16px;--btrr-mobile:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:10px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--of-mobile:hidden;--bgc-mobile:#FFF9FA;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gTPHtBYWBo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gqiS--1Ufj"}' data-id="gqiS--1Ufj" id="gqiS--1Ufj" data-same-height-subgrid-container class="gqiS--1Ufj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 1fr) minmax(0, 11fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gH2KCzP7Yg gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gE85u75nsC" class="gp-leading-[0] gE85u75nsC" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gE85u75nsC" class="icon-wrapper gp-inline-flex gp-overflow-hidden gE85u75nsC " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="check-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045514088">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gda0cFtuqr gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFm_w6429F"
        class="gFm_w6429F"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:40px;--size-tablet:32px;--size-mobile:17px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:1px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFm_w6429F_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_dGBmpcjs"
        class="g_dGBmpcjs"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:Assistant, var(--g-font-body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:1px;--ls-tablet:1px;--ls-mobile:0px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_dGBmpcjs_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"#FFF9FA","preload":false,"type":"color"}},"uid":"g5R2nQ_gg_"}' data-id="g5R2nQ_gg_" id="g5R2nQ_gg_" data-same-height-subgrid-container class="g5R2nQ_gg_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:3px 3px 3px 3px;--bc:var(--g-c-line-3, line-3);--bc-mobile:#FFE6E8;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:16px;--bbrr-mobile:16px;--btlr-mobile:16px;--btrr-mobile:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:10px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--of-mobile:hidden;--bgc-mobile:#FFF9FA;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzzQZLNITe gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gkNToomoMU"}' data-id="gkNToomoMU" id="gkNToomoMU" data-same-height-subgrid-container class="gkNToomoMU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 1fr) minmax(0, 11fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gm2-mlMEua gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gYV1J4HBrA" class="gp-leading-[0] gYV1J4HBrA" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gYV1J4HBrA" class="icon-wrapper gp-inline-flex gp-overflow-hidden gYV1J4HBrA " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="check-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045514088">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gCT59ugXqb gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsNQ8nrGbq"
        class="gsNQ8nrGbq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:40px;--size-tablet:32px;--size-mobile:17px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:1px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsNQ8nrGbq_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4oLitfj6S"
        class="g4oLitfj6S"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:Assistant, var(--g-font-body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:1px;--ls-tablet:1px;--ls-mobile:0px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4oLitfj6S_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"#FFF9FA","preload":false,"type":"color"}},"uid":"gai6f-XTOw"}' data-id="gai6f-XTOw" id="gai6f-XTOw" data-same-height-subgrid-container class="gai6f-XTOw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:3px 3px 3px 3px;--bc:var(--g-c-line-3, line-3);--bc-mobile:#FFE6E8;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:16px;--bbrr-mobile:16px;--btlr-mobile:16px;--btrr-mobile:16px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:10px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--of-mobile:hidden;--bgc-mobile:#FFF9FA;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbfV2D1wlK gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"ge0vBSMJBk"}' data-id="ge0vBSMJBk" id="ge0vBSMJBk" data-same-height-subgrid-container class="ge0vBSMJBk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 1fr) minmax(0, 11fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g8CF9qUB0p gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gsA8v4PoPO" class="gp-leading-[0] gsA8v4PoPO" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gsA8v4PoPO" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsA8v4PoPO " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="check-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045514088">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gI4y-FCi1C gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_sQuEOqLn"
        class="g_sQuEOqLn"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:40px;--size-tablet:32px;--size-mobile:17px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:1px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_sQuEOqLn_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVYcD3Y-3r"
        class="gVYcD3Y-3r"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:Assistant, var(--g-font-body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:1px;--ls-tablet:1px;--ls-mobile:0px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVYcD3Y-3r_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-596477063306937324 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=596477063121077228&sectionId=596477063306937324)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7g3xv9gU8_text","label":"gg7g3xv9gU8_text","default":"POR QUE VOCÊ DEVE USAR O TESTO BOOST?"},{"type":"html","id":"ggnftU-e9ap_text","label":"ggnftU-e9ap_text","default":"<p>Com ele, você volta a sentir <strong>mais desejo</strong>, sua <strong>autoestima nas alturas</strong>, confiança inabalável, e mais disposição para ter relações...&nbsp;</p><p>Para finalmente redescobrir o <strong>prazer de se sentir viva,</strong> desejada e conectada&nbsp;consigo&nbsp;mesma.</p>"},{"type":"html","id":"ggODOqFgTqs_text","label":"ggODOqFgTqs_text","default":"Libido Recuperada."},{"type":"html","id":"ggcRblPFt9r_text","label":"ggcRblPFt9r_text","default":"<p>Sinta a vontade voltar <strong>NATURALMENTE</strong>. Sem esforço e sem depender de hormônios.</p>"},{"type":"html","id":"ggUMOd8pg6l_text","label":"ggUMOd8pg6l_text","default":"Autoestima nas Alturas"},{"type":"html","id":"ggfUMe2WOr3_text","label":"ggfUMe2WOr3_text","default":"<p>Volte a se sentir <strong>sexy, segura e bem consigo mesma</strong>&nbsp;todos&nbsp;os&nbsp;dias.</p>"},{"type":"html","id":"ggFm_w6429F_text","label":"ggFm_w6429F_text","default":"Confiança Feminina Renovada"},{"type":"html","id":"gg_dGBmpcjs_text","label":"gg_dGBmpcjs_text","default":"<p>A feminilidade que parecia apagada reaparece. Você se sente <strong>mais bonita, mais viva e mais confiante</strong>&nbsp;no&nbsp;dia&nbsp;a&nbsp;dia!</p>"},{"type":"html","id":"ggsNQ8nrGbq_text","label":"ggsNQ8nrGbq_text","default":"Sensação de rejuvenescimento"},{"type":"html","id":"gg4oLitfj6S_text","label":"gg4oLitfj6S_text","default":"<p>Você volta a se sentir <strong>mais leve, mais viva e mais jovem</strong> de&nbsp;forma&nbsp;natural.</p>"},{"type":"html","id":"gg_sQuEOqLn_text","label":"gg_sQuEOqLn_text","default":"Relações mais&nbsp;Espontâneas."},{"type":"html","id":"ggVYcD3Y-3r_text","label":"ggVYcD3Y-3r_text","default":"<p>Você <strong>volta a</strong> <strong>tomar iniciativa </strong>para os momentos íntimos, e aproveitar cada momento.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}