
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596477063306871788.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-596477063306871788.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596477063306871788.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-596477063306871788.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596477063306871788.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596477063306871788.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596477063306871788.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-596477063306871788.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596477063306871788.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596477063306871788.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596477063306871788.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596477063306871788.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-596477063306871788.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596477063306871788.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-596477063306871788.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596477063306871788.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596477063306871788.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-596477063306871788.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596477063306871788.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-596477063306871788.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596477063306871788.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596477063306871788.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596477063306871788.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-596477063306871788.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596477063306871788.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-596477063306871788.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596477063306871788.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-596477063306871788.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596477063306871788.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596477063306871788.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596477063306871788.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596477063306871788.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596477063306871788.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596477063306871788.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596477063306871788.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596477063306871788.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596477063306871788.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596477063306871788.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596477063306871788.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596477063306871788.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596477063306871788.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596477063306871788.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596477063306871788.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596477063306871788.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596477063306871788.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596477063306871788.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596477063306871788.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596477063306871788.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596477063306871788.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596477063306871788.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596477063306871788.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596477063306871788.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596477063306871788.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596477063306871788.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-596477063306871788.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-596477063306871788.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596477063306871788.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596477063306871788.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-596477063306871788.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596477063306871788.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-596477063306871788.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-596477063306871788.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596477063306871788.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596477063306871788.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-596477063306871788.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596477063306871788.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-596477063306871788.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596477063306871788.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596477063306871788.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596477063306871788.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596477063306871788.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-596477063306871788.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-596477063306871788.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-596477063306871788.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-596477063306871788.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-596477063306871788.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-596477063306871788.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-596477063306871788.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-596477063306871788.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-596477063306871788.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-596477063306871788.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-596477063306871788.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596477063306871788.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596477063306871788.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596477063306871788.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-596477063306871788.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-596477063306871788.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596477063306871788.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596477063306871788.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-596477063306871788.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596477063306871788.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596477063306871788.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596477063306871788.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596477063306871788.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-596477063306871788.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-596477063306871788.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596477063306871788.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-596477063306871788.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-596477063306871788 .gp-relative{position:relative}.gps-596477063306871788 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596477063306871788 .gp-mb-0{margin-bottom:0}.gps-596477063306871788 .gp-flex{display:flex}.gps-596477063306871788 .gp-inline-flex{display:inline-flex}.gps-596477063306871788 .gp-grid{display:grid}.gps-596477063306871788 .\!gp-hidden{display:none!important}.gps-596477063306871788 .gp-hidden{display:none}.gps-596477063306871788 .gp-h-full{height:100%}.gps-596477063306871788 .gp-w-full{width:100%}.gps-596477063306871788 .gp-max-w-full{max-width:100%}.gps-596477063306871788 .gp-shrink-0{flex-shrink:0}.gps-596477063306871788 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596477063306871788 .gp-flex-col{flex-direction:column}.gps-596477063306871788 .gp-items-center{align-items:center}.gps-596477063306871788 .gp-justify-center{justify-content:center}.gps-596477063306871788 .gp-overflow-hidden{overflow:hidden}.gps-596477063306871788 .gp-break-words{overflow-wrap:break-word}.gps-596477063306871788 .gp-border{border-width:1px}.gps-596477063306871788 .gp-border-transparent{border-color:transparent}.gps-596477063306871788 .gp-text-left{text-align:left}.gps-596477063306871788 .gp-text-center{text-align:center}.gps-596477063306871788 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-596477063306871788 .gp-no-underline{text-decoration-line:none}.gps-596477063306871788 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596477063306871788 .gp-duration-200{transition-duration:.2s}.gps-596477063306871788 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596477063306871788 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-596477063306871788 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-596477063306871788 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-596477063306871788 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-596477063306871788 .tablet\:\!gp-hidden{display:none!important}.gps-596477063306871788 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-596477063306871788 .mobile\:\!gp-hidden{display:none!important}.gps-596477063306871788 .mobile\:gp-hidden{display:none}}.gps-596477063306871788 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-596477063306871788 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-596477063306871788 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-596477063306871788 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-596477063306871788 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-596477063306871788 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-596477063306871788 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-596477063306871788 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Ky461EN.ttf) format('truetype');
}


@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpBtKy2OAdR1K-IwhWudF-R9QMylBJAV3Bo8Kxf7FEN.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFE6E8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gy8LMDmFn7"}' data-id="gy8LMDmFn7" id="gy8LMDmFn7" data-same-height-subgrid-container class="gy8LMDmFn7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-mobile:32px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgc-mobile:#FFE6E8;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpsFsV31UW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"color":"transparent","preload":false,"type":"color"}},"uid":"goRO3g72uu"}' data-id="goRO3g72uu" id="goRO3g72uu" data-same-height-subgrid-container class="goRO3g72uu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc-mobile:transparent;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxK6ujPpmj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxY1kEmM3w"
        class="gxY1kEmM3w"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:40px;--size-tablet:32px;--size-mobile:25px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:1px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxY1kEmM3w_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8B9ZP_O7U"
        class="g8B9ZP_O7U"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:25px;--pt-mobile:6px;--pb-mobile:4px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:40px;--size-tablet:32px;--size-mobile:18px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:1px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8B9ZP_O7U_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="gkvMrIPJP0 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gkvMrIPJP0"
      data-id="gkvMrIPJP0"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--jc:left;--jc-mobile:center"
      className="gkvMrIPJP0"
      gp-data='{"position":{"desktop":"center","mobile":"baseline","tablet":"center"},"iconWidth":{"desktop":24,"mobile":"20"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--w-mobile:100%;--jc:left;--jc-mobile:center">
            <div class="gp-inline-flex gp-flex-col" style="--rg:12px;--rg-mobile:15px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gkvMrIPJP0"
                      style="--cg:8px;--cg-mobile:6px;--ai:center;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#000000;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:20px"
                        >
                          <svg height="20" width="20" data-name="check-fat-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:120%;--ls:0px;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkvMrIPJP0_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gkvMrIPJP0"
                      style="--cg:8px;--cg-mobile:6px;--ai:center;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#000000;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:20px"
                        >
                          <svg height="20" width="20" data-name="check-fat-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:120%;--ls:0px;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkvMrIPJP0_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gkvMrIPJP0"
                      style="--cg:8px;--cg-mobile:6px;--ai:center;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#000000;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:20px"
                        >
                          <svg height="20" width="20" data-name="check-fat-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:18px;--lh:150%;--lh-tablet:180%;--lh-mobile:120%;--ls:0px;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkvMrIPJP0_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <gp-button
      gp-data='{"btnLink":{"link":"#g69rGkwbkf","title":"Section 18","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:50px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:5px;--mb-mobile:13px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:50px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gmcKVsvD4V"].gp-button-base::before, [data-id="gmcKVsvD4V-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
  
    }
  
      
  [data-id="gmcKVsvD4V"]:hover::before, [data-id="gmcKVsvD4V-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#g69rGkwbkf
            target=undefined
          ></a>
        <a
          data-id="gmcKVsvD4V" dataId="gmcKVsvD4V" data-state="idle" aria-label="<p>GARANTIR MEU TESTO BOOST</p>"
          
          href="#g69rGkwbkf" target
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--hvr-bblr:16px;--hvr-bbrr:16px;--hvr-btlr:16px;--hvr-btrr:16px;--bgi:;--hvr-bgi:;--hvr-bg:RGBA(226, 188, 47, 0.7);--bg:#FFD747;--c:#000000;--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--size:32px;--size-tablet:14px;--size-mobile:20px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:0px;--weight:bold"
          class="gmcKVsvD4V gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--size:32px;--size-tablet:14px;--size-mobile:20px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:0px;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggmcKVsvD4V_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"#gLfQbNhKDH","title":"Section 14","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:-18px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gQNmAXyaN-"].gp-button-base::before, [data-id="gQNmAXyaN--interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      
  
    }
  
      
  [data-id="gQNmAXyaN-"]:hover::before, [data-id="gQNmAXyaN--interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gLfQbNhKDH
            target=undefined
          ></a>
        <a
          data-id="gQNmAXyaN-" dataId="gQNmAXyaN-" data-state="idle" aria-label="<p><span style='font-size:25px;'><strong>COMPRAR AGORA</strong></span></p>"
          
          href="#gLfQbNhKDH" target
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--hvr-bblr:12px;--hvr-bbrr:12px;--hvr-btlr:12px;--hvr-btrr:12px;--bgi:;--hvr-bgi:;--hvr-bg:#F67A85;--bg:RGBA(76, 9, 9, 0.89);--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:31px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:1px"
          class="gQNmAXyaN- gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Source-Sans-3, 'Source Sans 3'), var(--g-font-body, body);--weight:400;--size:31px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:1px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggQNmAXyaN-_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-596477063306871788 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=596477063121077228&sectionId=596477063306871788)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggxY1kEmM3w_text","label":"ggxY1kEmM3w_text","default":"JÁ TENTEI DE TUDO!"},{"type":"html","id":"gg8B9ZP_O7U_text","label":"gg8B9ZP_O7U_text","default":"POR QUE COM O TESTO BOOST SERÁ DIFERENTE?"},{"type":"html","id":"ggkvMrIPJP0_childItem_0","label":"ggkvMrIPJP0_childItem_0","default":"<p><strong>Somos o único </strong>no Brasil focado para a <strong>Testosterona Livre</strong>, a chave da libido feminina.</p>"},{"type":"html","id":"ggkvMrIPJP0_childItem_1","label":"ggkvMrIPJP0_childItem_1","default":"<p>Nosso produto é<strong> 100% Natural</strong>, Zero efeitos Colaterais e Zero Riscos. Resultados reais com total segurança!</p>"},{"type":"html","id":"ggkvMrIPJP0_childItem_2","label":"ggkvMrIPJP0_childItem_2","default":"<p><strong>Atua na Causa</strong>. Transformação de dentro para Fora. Reequilibra seu sistema hormonal.</p>"},{"type":"html","id":"ggmcKVsvD4V_label","label":"ggmcKVsvD4V_label","default":"<p>GARANTIR MEU TESTO BOOST</p>"},{"type":"html","id":"ggQNmAXyaN-_label","label":"ggQNmAXyaN-_label","default":"<p><span style=\"font-size:25px;\"><strong>COMPRAR AGORA</strong></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}